[2012-07-16 19:53] guidokritz opened #1 "Search results pagination problem"
Search results pagination is not working with the plugin activated.

I get a link with the following format: http://my-site.com/page/2/?s=search+terms
But when I access that URL it shows my home page instead of the search results. It works fine with QTranslage Slug plugin disabled.

Would be great to find a fix for this issue.

EDIT: actually it doesn't show my home page but the page 2 of my blog.

[2012-07-16 23:06] not-only-code commented on #1
Looks like some bug on parse query, i'll check this for next release.
Thanks for report!

[2012-08-03 16:59] csmillie opened #2 "qTranslateSlug_getSelfUrl() deprecated?"
It looks like the qTranslateSlug_getSelfUrl() function was deprecated in the 1.0.  I found this useful in several of my themes and accessed it directly, in 1.0+ you can access via  $qtranslate_slug- >get_current_url().  It accepts the language value like before, just make sure that $qtranslate_slug is defined as a global variable.  Hope that's helpful for others upgrading...

[2012-08-18 21:13] not-only-code opened #3 "Archive posts types slug doesn't work"
References:

[http://wordpress.org/support/topic/plugin-qtranslate-slug-archive-page-slug?replies=3](http://wordpress.org/support/topic/plugin-qtranslate-slug-archive-page-slug?replies=3)

[2012-08-18 21:15] not-only-code opened #4 "Change rules for Slug prevent duplicates"
Reference:
[http://wordpress.org/support/topic/plugin-qtranslate-slug-multiple-pages-with-same-slug-name-does-not-work?replies=4](http://wordpress.org/support/topic/plugin-qtranslate-slug-multiple-pages-with-same-slug-name-does-not-work?replies=4)

page-a/page-b/

page-c/page-b-2/ => should be => page-c/page-b/

[2012-08-18 21:16] not-only-code opened #5 "Add navs menus to upgrade process"
Reference:

[http://wordpress.org/support/topic/plugin-qtranslate-slug-backend-menu-language-switcher-doesnt-work?replies=7#post-2980688](http://wordpress.org/support/topic/plugin-qtranslate-slug-backend-menu-language-switcher-doesnt-work?replies=7#post-2980688)

[2012-08-18 21:18] not-only-code opened #6 "Plugin compatible: Google XML Sitemaps v3 for qTranslate"
Reference:

[http://wordpress.org/support/topic/plugin-qtranslate-slug-adaptations-request-list?replies=11](http://wordpress.org/support/topic/plugin-qtranslate-slug-adaptations-request-list?replies=11)

[2012-08-18 21:18] not-only-code opened #7 "Plugin compatible: Jigoshop / Woocommerce"
Reference:

[http://wordpress.org/support/topic/plugin-qtranslate-slug-adaptations-request-list?replies=11](http://wordpress.org/support/topic/plugin-qtranslate-slug-adaptations-request-list?replies=11)

[2012-08-18 21:19] not-only-code opened #8 "Plugin compatible: Nextgen-gallery"
Reference:

[http://wordpress.org/support/topic/plugin-qtranslate-slug-adaptations-request-list?replies=11#post-3009693](http://wordpress.org/support/topic/plugin-qtranslate-slug-adaptations-request-list?replies=11#post-3009693)

[2012-08-19 09:35] tiuz1 commented on #6
Sounds great. I'm just waiting for this. Then this plugin is perfect for me :-)

[2012-08-20 22:19] not-only-code commented on #6
Well i think the problem is in Google XML Sitemaps v3 for qTranslate in
- [sitemap-qtranslate.php#L54](http://plugins.trac.wordpress.org/browser/google-xml-sitemaps-v3-for-qtranslate/trunk/sitemap-qtranslate.php#L54)
- [sitemap-core.php.original#L1891](http://plugins.trac.wordpress.org/browser/google-xml-sitemaps-v3-for-qtranslate/trunk/sitemap-core.php.original#L1891)

because it uses **qtrans_co

[2012-08-27 11:36] LC43 opened #10 "wp canonical links shouldn't list the main language link as the canonical version"
nevermind, was looking at a cached page.

[2012-08-27 11:37] #10 closed, assigned to LC43

[2012-09-10 16:35] pabloselin opened #11 "Lnaguage switcher does not work for custom post type archive"
Hi, it seems that the language switcher is not working when I'm in a custom post type archive page.

The function returns links like this:

http://example.com/en?post_type=ptypename&p=postid

You can see the issue here:

http://acllahuasi.com/en/ventas/

when you look at the url that the language switcher is returning that weird stuff.

Thanks for your work by the way, the other stuff is working g

[2012-09-12 20:45] not-only-code commented on #11
Is this issue https://github.com/not-only-code/qtranslate-slug/issues/3

I close this issue.

[2012-09-12 20:45] #11 closed, assigned to nobody

[2012-10-01 14:56] sardbaba commented on #8
Hi, I've tested the jinoOM solution but that's doesn't solve my problem. My problem is that the NextGen Gallery pagionation doesn't works after enabling this plugin. If you click on the second page or next or in the N-th page a redirect to the first page is done.
I don't have the time to check where is the bug, but I hope you can solve it soon.
Cheers.

[2012-10-18 14:34] pabloselin opened #12 "Automatically generate old posts slugs based on title on setup."
It would be nice that the initial setup allowed to generate all the old posts slugs based on the title. There is a WordPress function available that makes the work so maybe it's not so hard to implement.

[2012-10-20 18:35] not-only-code commented on #12
This could be a checkbox in updating process.
Added for 1.2 milestone

[2012-11-15 09:53] nikolov-tmw commented on #1
I worked around this bug by replacing line 775 in qtranslate-slug.php, which looks like:
`if (isset($wp->matched_query))`
with:
`if ( isset( $wp->matched_query ) && ! isset( $query['s'] ) )`

What I found was, that `$wp->matched_query` was `&paged=2` when it should have been `s=s&paged=2`. I'm not sure what is the reason for that, but this should do as a workaround for now :)

[2012-11-19 16:22] okuryan opened #13 "Add possibility to extend supported url templates"
Hi!

I'm using wordress 3.4.2 + qTranslate 2.5.32 + qTranslate Slug 1.1

I find your plugin very useful to be used together with qTranslate. But can we make it easier to extend it to have additonal URLs supported?

For example, on my blog I've added widget that has information about author with URL that leads to list of blogs by particular author.  It works fine when just qTranslate is installed.

[2012-11-24 18:43] HowToSolutionsNET opened #14 "When category is edited, slug column in wp_terms does not change."
It seems that once category is named, data on **slug** column in **wp_terms** table cannot be changed.

I noticed that when I renamed a category to "news" and the following code did not return anything:

[code]

I tried to give the same value for all languages (both for the name and the slug) and the above code still did not work.

Using phpMyAdmin I discovered that the **slug** column in **wp_ter

[2012-12-12 13:49] not-only-code opened #15 "reset wp_query in somewhere"
"A simple problem. The qtranslate slug adds a query somewhere and does not reset the variables after the query is done. I have done that, because i need the actual page id to get the templates. So i just added the

[code]

in the frontpage base template and it works."

[2012-12-13 21:39] not-only-code opened #16 "Give initial support to Wordpress version 3.2 instead 3.3"

[2012-12-19 01:21] not-only-code opened #17 "The plugin does not switch the language properly in search results"
This is it

[2012-12-19 01:28] not-only-code opened #18 "Url parameter's bug"
I think there's a bug in translating root URLs that have parameters via the language selector (qts_language_menu). For example, if I have something like this:

www.site.com/?list=true

...the links in the selector will have something like this:

www.site.com/en?list=true

...thus returned an error page. It should've been like this:

www.site.com/en/?list=true

[2012-12-19 01:36] not-only-code opened #19 "Adds condicionals to term meta functions"
I've installed your plugin with this other one http://wordpress.org/extend/plugins/custom-taxonomy-sort/ and they have a conflic. They both have approximately 8 functions with the same name. It would be good to customize the names in order to avoid this kind of problems.

The functions in conflict are:
update_termmeta_cache, add_term_meta, delete_term_meta, get_term_meta, update_term_meta, delete_

[2012-12-19 01:41] not-only-code opened #20 "Translate support in Custom links in Nav Menus"
I think andreu is talking about the custom links where you input the links manually. It is not a bug. I assume you just didn't implement the functionality to that feature. However, like andreu said, by manually applying qTranslate's tags (<--:en-->), it will automatically become compatible with the plugin's nav menu translator.

[2012-12-19 01:51] not-only-code opened #21 "Add support to translate attachments"
Since Wordpress 3.5 this is relatively more easy to implement. Like posts, translate all attachment fields,  **title**, **caption**, **alternative text** and **description**.

And of course the **slug**.

[2012-12-19 02:43] not-only-code commented on #14
Hi, i think that happens because translated term slug's are stored on termmeta table instead term table..,

Then must be any point in wp_query when query fails.

I will check this, thanks for your report!
C.

[2012-12-20 15:53] pabloselin opened #22 "get_the_terms, get_the_term_list, wp_get_post_terms broken"
It seems that when you call a term via the above function I'm only getting the first term link correctly and the other ones return the correct taxonomy but the post permalink instead of the term slug.

Sometimes I'm not getting any of the taxonomy links correct.

Deactivating the plugin the problem disappears...

[2012-12-20 16:57] not-only-code commented on #22
What version of wordpress you have?

[2012-12-20 18:21] pabloselin commented on #22
I'm using version 3.4.1

[2012-12-20 18:43] not-only-code commented on #22
Two questions more, is your installation multisite? And, witch plugins are you using too?

[2012-12-20 18:54] pabloselin commented on #22
I'm not using multisite, in the plugins department i'm using:

AutoChimp
Google XML Sitemaps for Qtranslate
Qtranslate (2.5.31)
Qtranslate extension (another extension that adds multilanguage input via javascript to some fields.)
Qtranslate slug (your plugin)
Redirection
Regenerate Thumbnails

You can watch the problem first hand in this site:

http://www.ong-ngo.org/fr/opinion-3/2013-tunis-to-bec

[2012-12-21 21:21] pabloselin commented on #22
Hi, I reproduced the issue in a blank wordpress website and I think it's a bug.
Here are the steps I followed in a blank wordpress with default theme and only qtranslate and qtranslate_slug activated.
1. Create a new post and put some custom slugs in the available languages.
2. Create a new tag
3. Save the post.
4. Go to the tags administration page and look for your recently created tag.
5. You w

[2012-12-23 12:08] weigertj opened #23 "Homepage sends wrong URL for Facebook like (since WP 3.5)"
By updating to Wordpress 3.5 the Facebook like number on my homepage (root URL) became incorrect (the other pages seem fine). I had a look at the source code of my homepage and instead of my main URL I could see my Contact page URL in the the FB like code. Not only in my English version but in all 3 languages.
Thus if somebody pressed the like button on my homepage, he or she liked my Contact page

[2012-12-23 23:51] not-only-code commented on #23
Added to 1.1.5

[2013-01-03 21:12] tsjemo opened #24 "Title is not shown correctly"
I did a clean install of WP 3.5, installed qTranslate 2.5.32 and qTranslate slug 1.1, but now the_title() always returns the same content (which is not the current page) & Wordpress SEO (by Yoast de Valk) returns the same content instead of the correct title of the page (I assume it uses the same function the_title() )...

I disabled the qTranslate Slug plugin and the contents is correct (even tho

[2013-01-03 22:14] not-only-code commented on #24
Hi, i think your bug is [this issue](https://github.com/not-only-code/qtranslate-slug/issues/15).

Try to do `wp_reset_query()` before `the_post()` in your template.

If this works i'll close this topic.

[2013-01-03 22:19] tsjemo commented on #24
Hi, I updated the page.php from the template (Themeforest - Chalong) as you mentioned but it does not change anything...

[2013-01-03 22:22] not-only-code commented on #24
Witch more plugins are you using? Only Wordpress SEO (by Yoast de Valk) ?

[2013-01-03 22:28] tsjemo commented on #24
Akismet, Contact Form 7, Link View, Link Category Posts, qTranslate, qTranslate Separate Comments, ThemeFuse Maintenance Mode, Wordpress Backup for Dropbox, Wordpress Popular Posts & Wordpress SEO.

But when I disable qTranslate Slug, the titles are shown correctly...

[2013-01-03 22:38] not-only-code commented on #24
Ook, it is normal, because Qtranslate Slug has not been tested with all theese plugins. Sure there is an incompatibility with one or more. Did you try to disable all plugins and only activate qtranslate + qtranslate slug ?

In a clean installation: wp 3.5 + qtranslate 2.5.32 + qtranslate slug 1.1 + twenty eleven, for me works fine.

[2013-01-03 22:40] not-only-code commented on #24
wp 3.5 + qtranslate 2.5.32 + qtranslate slug 1.1 + Wordpress SEO by Yoast 1.3.4.1 + twenty eleven, works fine too.

[2013-01-03 22:51] not-only-code opened #25 "The alternate language versions of the page are still inserted in the header doesn't works"
Source:
http://kuchenundkakao.wordpress.com/2012/08/10/qtranslate-slug-bugfixing/

The alternate language versions of the page are still inserted in the header by qtranslate, not knowing about the new slug versions

Solution:

[code]

[2013-01-04 08:11] tsjemo commented on #24
Hi, I had to be sure that it would be ok today, so I am rebuilding the website from scratch on WP 3.4.2.
You think the issue comes from another plugin or the template? Quite strange as everything was ok on 3.4.2 and disabling qTranslate slug solves the issue...

[2013-01-04 12:45] not-only-code commented on #24
Yes i think there is an incompatibility with any plugin or theme. Best way is try it one by one...

[2013-01-09 02:41] #24 closed, assigned to not-only-code

[2013-01-09 17:48] not-only-code commented on #24
Issue closed until more information

[2013-01-17 22:52] not-only-code opened #26 "WP 3.5 conflicts: $wpdb"
Looks like there are some kind of conflict with `wpdb::prepare()` arguments in Wordpress 3.5

`Warning: Missing argument 2 for wpdb::prepare(), called in ..../wp-content/plugins/qtranslate-slug/qtranslate-slug.php on line 1857 and defined in ..../wp-includes/wp-db.php on line 990`

[2013-01-17 23:09] not-only-code opened #27 "Pre-path mode, recognition of main language"
In Pre-path mode, there is a little bug, it doesn't recognise the main language because is disabled on the url...

Tweak:  Navigate to **Settings** > **Languages** and disable _Hide URL language information for default language._

[2013-01-24 12:56] timersys opened #28 "Possible slug validation error"
Hi Carlos, thanks for the plugin. Its a totally missed feature of qTranslate.
I have a problem on the site that some urls just wont work.

I tried going to Settings -> Languages -> Uncheck Hide URL language information for default language.

But still the same problem, error 404 (on default language only)

I see the slugs on the post_meta table but i dont see them in the term meta table( which im

[2013-01-27 14:26] francesco1119 commented on #24
I had the same problem and I switched from qTranslate to wp-i18n. http://wordpress.org/extend/plugins/wp-i18n/
Now I have no problems and I can edit a different SEO for each language witch means better ranking!

[2013-01-28 22:36] not-only-code opened #29 "Rebuild qtranslate function in content: Sorry, this entry is only available...."
Rebuild this qtranslate function to print correct permalinks.

_Sorry, this entry is only available in %LANG:, : and %_

[2013-01-28 22:41] not-only-code commented on #28
Hi, first of all what wp version are you using? And witch plugins?
For what kind of content it happens? in post/page or taxonomies?
Can you put an example url?

[2013-01-28 22:51] timersys commented on #28
Hi!
Im using last version of WP
It happens with posts
Example not working url can be found here http://aristegui.info/es/grua/
Working url http://aristegui.info/en/espanol-grua/

I didnt develop this site so im not sure about the code. Plugins could affect are : Taxonomy Meta Version 1.1.4, qTranslate Version 2.5.33b, My Category Order Version 3.3.2 , Gecka Terms Ordering Version 1.0-beta1, Advanc

[2013-01-28 23:29] not-only-code commented on #28
In your case i think the problem is you are using the same slug for different levels of navigation and language (could be beacuse this issue https://github.com/not-only-code/qtranslate-slug/issues/4 ), try to add manually the slug per item and language, for example:

http://aristegui.info/es/grua
http://aristegui.info/en/hoist

[2013-01-28 23:40] timersys commented on #28
My slugs were configured as:
grua
espanol-grua
francais-grua

The last two are working fine. I changed as you suggested but spanish grua is still not working
Im not using inside branches. It just the default language slug added by qtranslate. ( /es, /en, /fr )

El 28/01/2013, a las 20:29, Carlos Sanz García notifications@github.com escribió:

[2013-02-01 15:17] pabloselin opened #30 "Call to each of the languages slugs."
Hi.
How can I call one or all of the custom translated slugs assigned to a term? Because when you call the usual object (like $term->slug) you get the old non-translated slug.

Thanks for your plugin.

[2013-02-11 01:15] not-only-code commented on #30
Hi there is not a function to get a permalink in other language yet,

but if you want to get the permalink of term in current language **[get_term_link](http://codex.wordpress.org/Function_Reference/get_term_link)** should work.

[2013-02-15 13:37] kuchenundkakao opened #31 "global $post var changed in _get_page_link and not changed back"
In the Function _get_page_link the global $post var is changed and not changed back, leading to global $post not working correctly outside of the loop (e.g. to display the post thumbnail in the header)

Further information:
http://kuchenundkakao.wordpress.com/2013/02/15/some-more-bugfixing-for-qtranslate-slug/

Solution: Make the changes in the function like this:

[code]

[2013-02-15 13:48] not-only-code commented on #31
Hi, thanks again!

I'm working on a full translation plugin for Wordpress and i have little time to devote to these issues...
Do you want access to commit the code directly? That would be great.

[2013-02-15 14:09] kuchenundkakao commented on #31
I just wrote you a message on twitter.

[2013-02-19 15:39] kuchenundkakao commented on #23
Please try this: https://kuchenundkakao.wordpress.com/2013/02/15/some-more-bugfixing-for-qtranslate-slug/

[2013-02-19 21:28] weigertj commented on #23
I've just updated to the Wordpress 3.5.1. and it by itself solved the problem! I am still using the old qTranslate version 2.5.32. So possibly Worpdress 3.5 caused the bug! I wanted to try your fix kuchenundkakao, but it looks like I won't need it. Thx, anyway!

[2013-02-19 21:28] #23 closed, assigned to not-only-code

[2013-03-05 15:16] ghost opened #32 "Messes up "Edit Media" -page"
Hello,

The plugin is working well. But today I tried to edit some of my uploaded images from my media library and I noticed that "Edit Media" -page is messed up. It looks like this: http://cl.ly/image/090f2M2M0K44

And when I disable the plugin, the page looks like normal: http://cl.ly/image/0o3P2e1N340P

I'm sure that qTranslate Slug causes this issue to happen. I really hope that you could help

[2013-03-05 16:17] Finkensieper opened #33 "qTranslate slug problem - menu can't find pages"
We need to use the qTranslate slug plugin to manage our template for WP 3.5.1.

But Menus didn't find existing pages if plugin is enable.
If disable everything works fine.
http://88.217.144.103 show the actual problem.

Any suggestions to fix this problem...
Thanks

[2013-03-10 09:26] kuchenundkakao commented on #33
What do you mean by "Menus didn't find existing pages" ?
Please explain further. The Test URL seems to work right now without qtranslate slugs enabled...

[2013-03-11 11:53] not-only-code commented on #32
Hello, I am offering minimal support for this plugin ... i will finish its development in version 1.2

WordPress 3.5 did introduce a new media edit page, i don't know what is the problem, but there must be any function  (perhaps File URL) that crash and stops the render of the page... I will take a look this (targeted to 1.2)...

If i found the solution and you dont want to wait to 1.2 maybe we ca

[2013-03-11 18:39] ghost commented on #32
I think I'll wait for the new version to come out. Hope it isn't too far away... but if you found the solution before the release, that would be superb!

Thanks for all your work!

[2013-03-21 07:07] phyve opened #34 "BUG: Sorry, but you are looking for something that isn't here."
**\* updated ***
I get this warning only on 3 pages, the rest of the site works.
1. The error occurs, when I go to edit a previously created page (before this plugin was installed)
2. Edit an image within the content.
3. Try to add a title to the image via wordpress
4. As a result the pages stops functioning and I get the above error.

If I disable the plugin, the page works works again.

http://b

[2013-03-21 15:21] not-only-code commented on #34
Try to delete trashed pages

[2013-03-21 15:28] phyve commented on #34
I don't have any trashed pages to delete.

[2013-03-21 15:32] not-only-code commented on #34
What kind of message appears? Can you be more explicit?

[2013-03-21 15:40] phyve commented on #34
**\* updated ***
I get this warning only on 3 pages, the rest of the site works.

The error occurs, when I go to edit a previously created page (before this plugin was installed)
Edit an image within the content.
Try to add a title to the image via wordpress
As a result the pages stops functioning and I get the above error.
If I disable the plugin, the page works works again.

http://bit.ly/ZAFR2w

[2013-03-21 15:43] not-only-code commented on #34
The page **about us** has different slug permalink for both languages, english and french ?

[2013-03-21 15:58] phyve commented on #34
No, its redirecting the home page by default because it can't find the original page.

[2013-03-21 15:58] LC43 commented on #34
my two cents: have a look at the mysql tables for the slugs, i remember
sometimes they aren't removed even if the post is trashed and then deleted.

On 21 March 2013 15:28, phyve notifications@github.com wrote:

[2013-03-21 16:04] phyve commented on #34
Thanks verde, but I don't think this is a slug deletion issue.

Every page where I've tried updating an image title can no longer be.

When I posted I had 2 pages now I have 4 pages that come up with the same error.

[2013-03-21 16:25] not-only-code commented on #34
If you delete the images in the editor, the problem persist?
Try to remove completely the attachments to this page..  and try again... maybe is a attachment permalink conflict...

[2013-03-21 16:45] phyve commented on #34
Yes the problem is still existent.

If I turn off the plugin all the pages appear.

[2013-03-21 16:48] not-only-code commented on #34
I'm sorry but I can not figure out where the problem is with the information you exhibit here...

[2013-03-21 17:33] phyve commented on #34
you and me both my friend

[2013-03-21 17:50] kuchenundkakao commented on #34
Maybe we could get more info if you would do this before the loop:
global $wp_query;
var_dump($wp_query);

Kuchenundkakao

[2013-03-21 17:59] not-only-code commented on #34
I remember this [solution](https://github.com/not-only-code/qtranslate-slug/issues/31) @kuchenundkakao proposed there.

Recently another user [warned in wordpress forums](http://wordpress.org/support/topic/a-small-bug-with-big-influence) about the same bug.

[2013-03-21 18:23] phyve commented on #34
I added the code.

http://bit.ly/ZAFR2w

(Is that what you mean?)

[2013-03-21 20:35] kuchenundkakao commented on #34
OK, that gives us a bit of information.

$wp_query seems to get messed up on these pages. you can see that on the pages which are not found, it tries to find an attachment named "meet-the-team" opposed to a post.

Try to apply this (as not-only-code said) https://github.com/not-only-code/qtranslate-slug/issues/31

[2013-03-21 20:56] kuchenundkakao commented on #26
Well, the function "unique_term_slug" doesn't use the $wpdb->prepare method not as intended.

Change the Function into this:

[code]

[2013-03-21 22:03] phyve commented on #34
Still seem to be having the same problem, didn't remedy anything after adding the code you linked in the last post.

[2013-03-22 13:18] kuchenundkakao commented on #34
Hmmmm... i'm fresh out of time & ideas…
Does it work if you delete the images again out of the page?

[2013-03-22 13:56] LC43 commented on #34
also, you can print the query between html comments so it doesn't break
your layout

<?php global $wp_query;
 echo "";
?>

On 22 March 2013 13:18, kuchenundkakao notifications@github.com wrote:

[2013-03-22 14:12] #31 closed, assigned to not-only-code

[2013-03-22 14:21] not-only-code opened #35 "Define in settings page witch or witch not permalinks will be processed"
From Wordpress Forums http://wordpress.org/support/topic/disable-qtranslate-slug-for-some-parts-of-the-web

[2013-03-22 14:36] not-only-code commented on #1
Something in **query_vars** function is wrong that's because i've used this kind of _hacks_ at beginning of **filter_request** function. May have to do with **generate_rewrite_rules** are builded or maybe it is produced by this issue https://github.com/not-only-code/qtranslate-slug/issues/31.
I must to check this.

Thanks for report.

[2013-03-22 14:43] #26 closed, assigned to not-only-code

[2013-03-22 14:50] not-only-code commented on #22
Add support to these functions.

[2013-03-22 16:56] phyve commented on #34
I think I figured out where the issue happens.

These pages are having issues because they have a Parent Page.

I created a page, copied the content from the malfunctioning page and it worked.

I realized I forgot to put it under the parent page and when I did, it gave "Sorry, ..." message. When I removed it from under the parent page it worked.

ANOTHER Note.

I have not placed those pages in the

[2013-03-22 16:57] LC43 commented on #34
Dont you have working pages that have parents?

On Friday, March 22, 2013, phyve wrote:

[2013-03-22 16:58] phyve commented on #34
I do, but they were never edited after installing the qtranslate-slug plugin.

[2013-03-22 16:59] phyve commented on #34
I said not place those pages in the trash.

I mean I have NOW placed the original pages in the trash and now they work.

[2013-03-22 17:01] not-only-code commented on #34
And... if you remove this pages from the trash ?

[2013-03-22 17:10] phyve commented on #34
Hmmm

After restoring, they all worked except one. "Meet our Team"

[2013-03-22 17:11] not-only-code commented on #34
I think there is a conflict with trashed, non trashed posts with the same permalink... the first comment i posted in this issue...

[2013-03-22 17:13] phyve commented on #34
None of my pages share the same permalink though.

Unless I am misunderstanding.

[2013-03-22 17:14] LC43 commented on #34
if you change the permalink of "Meet our team" to a completely new slug,
does it work?

On 22 March 2013 17:11, Carlos Sanz García notifications@github.com wrote:

[2013-03-22 17:16] phyve commented on #34
Before today, I had nothing in the trash.

Changing the slug doesn't work

[2013-03-22 18:47] phyve commented on #34
Conclusion:

Well I don't really have one. But I suspect the code snippet you guys provided definitely helped. I can at least recreate the pages those pages that were erroring.

I went back to the custom menu and relink everything to the new pages.

I really appreciate all the help you guys donated to this problem.

Thanks

[2013-03-22 19:59] phyve commented on #34
Sorry, I  believe I've got to the bottom of the issue.

And its something I touched on before.

Its the Page & Subpages causing the issue.

I thought I had other subpages but I actually don't. The about page is the only subpage. So in order for this to work I have to remove the parent.

There is a bug in switching the permalink for pages with a parent. The Children don't get along.

[2013-03-23 15:03] #2 closed, assigned to not-only-code

[2013-03-23 15:07] not-only-code commented on #15
[Issue 31](https://github.com/not-only-code/qtranslate-slug/issues/31) fixes this.

[2013-03-23 15:07] #15 closed, assigned to not-only-code

[2013-03-23 15:46] not-only-code commented on #25
Changes made in version 1.1 with **home_url** solves this bug, then now **href** links shows a properly url per each language and this action has no sense.

I close this topic.

[2013-03-23 15:49] not-only-code commented on #28
Try to update your plugin from here, changes maded in [issue#31](https://github.com/not-only-code/qtranslate-slug/issues/31) must solve this.

[2013-03-23 15:49] #28 closed, assigned to not-only-code

[2013-03-23 15:52] not-only-code commented on #32
Try to update manually your plugin [from here](https://github.com/not-only-code/qtranslate-slug/archive/trunk.zip), and check if this solves your problem.

[2013-03-23 16:01] #30 closed, assigned to nobody

[2013-03-23 16:02] not-only-code commented on #33
Try to update manually your plugin [from here](https://github.com/not-only-code/qtranslate-slug/archive/trunk.zip), and check if this solves your problem.

[2013-03-23 16:53] #18 closed, assigned to not-only-code

[2013-03-23 16:57] not-only-code commented on #27
Solved, with [issue 31](https://github.com/not-only-code/qtranslate-slug/issues/31) and [issue 18](https://github.com/not-only-code/qtranslate-slug/issues/18)

[2013-03-23 16:57] #27 closed, assigned to not-only-code

[2013-03-23 17:05] #19 closed, assigned to not-only-code

[2013-03-23 17:23] not-only-code opened #36 "rewrite the beginning of **filter_request**"
Something in **query_vars** function is wrong that's because i've used this kind of _hacks_ at beginning of **filter_request** function

[2013-03-23 17:23] not-only-code commented on #1
This has been is solved with [#31](https://github.com/not-only-code/qtranslate-slug/issues/31). Anyway i just opened another issue to rewrite the _hacks_ at beginnig of **filter_request** funciton (https://github.com/not-only-code/qtranslate-slug/issues/36)

[2013-03-25 18:44] ghost commented on #32
It seems like it's working now. No issues so far! I'll report if I find something.

Thank you!

[2013-03-25 18:50] not-only-code commented on #32
Nice! I close this issue :)

[2013-03-25 18:50] #32 closed, assigned to nobody

[2013-04-01 14:36] MariusStuparu opened #37 "get_page_uri() returns the main language slug instead of translated one"
I need to place a link to a specific page using WP's get_page_uri($page), but it returns the main language slug instead of the translated one. Same with qtrans_convertURL(get_page_uri($page)). The URL that is displayed is invalid (www.domain.tld/en/non-enlish-slug)

For example, I need this to get the translated slugs (now it doesnt):

<a href="<?php echo qtrans_convertURL(get_page_uri(1234)) ?>">

[2013-04-01 15:40] kuchenundkakao commented on #37
Did you try using get_permalink($page) ? That should give you the correct permalink,,,

[2013-04-01 23:26] not-only-code commented on #37
For now there is no support for this function, i will add in **get_page_uri()** in next versions.
**qtrans_convertURL()** was removed since version 1.0 because was a performance conflict function, but as @kuchenundkakao says, you can use **get_permalink()** funciton to get the complete url... and if you only want the **uri** apply some kind of replacement ( _preg_replace_, _str_replace_... )

[2013-04-02 06:02] MariusStuparu commented on #37
Ah, get_permalink() works! Thanks alot!

[2013-04-02 06:05] not-only-code commented on #37
Ok, then i close this issue because **get_page_uri** can not be _extended_.

[2013-04-02 06:05] #37 closed, assigned to nobody

[2013-04-03 07:05] kuchenundkakao commented on #4
I changed the function some time ago like this for a specific website. It seems to work (for the site), but i think it needs testing:

[code]

[2013-04-03 08:33] not-only-code commented on #4
is pending review

[2013-04-03 13:41] not-only-code commented on #34
Today In Wordpress forums a user posted an issue similar than yours:
http://wordpress.org/support/topic/help-notice-undefined-offset-0-1?replies=7#post-4047893

@phyve , check please if you are using 'qtrans_generateLanguageSelectCode' as language switcher...

[2013-04-06 07:24] not-only-code opened #38 "WordPress Errors When Saving Menu"
Reference http://wordpress.org/support/topic/wordpress-errors-when-saving-menu?replies=2#post-4059023

[2013-04-09 07:56] gmaggio opened #39 "[Backend] Custom taxonomy in Posts Manage page doesn't translate"
I had a **custom taxonomy** that I had associated with my posts and I had created a **custom column** in the **posts manage page** to display the terms of this taxonomy in each posts.

However, **qTranslate Slug** doesn't seem to translate terms made from custom taxonomies. Built-in taxonomies (categories and tags) are fine in that they are translated.

[2013-04-09 08:07] not-only-code commented on #39
Thanks for report.

[2013-04-10 04:28] gmaggio commented on #39
Just to demonstrate, this was the code I used to display the **terms** from my **custom taxonomy** in the **post manage** page:

[code]

The `$term->name` is **not** translated.

[2013-04-14 14:14] gmaggio commented on #39
Okay, I managed to come up with a **workaround** and was able to **fix other issues as well**.

First, let me list down the number of issues I encountered in terms of backend taxonomy translations. **Most of the list below are not yet translated by qTranslate Slug** (**\* indicates the features already supported):

**1. Post Edit page:**
1. Category list
2. Category parent dropdown menu
3. List of

[2013-04-14 14:20] not-only-code commented on #39
Hi, i'm busy now, but when ill have some time, ill check this. Thanks for your report

[2013-04-14 14:21] gmaggio opened #40 "[Backend] New tag slug uses post name"
When adding new tags from the Post Edit page, the **slug** of the new tags uses the sanitized version of the **post name** instead of the tag names.

[2013-04-14 14:25] not-only-code commented on #40
Good! Make a push request, could be a good idea merge this part.... what do
you think? I need more time for check all this anyway...

2013/4/14 Giraldi Maggio notifications@github.com

##

Carlos A. Sanz García
t. +34 661 75 18 07
www.behance.net/csg

[2013-04-15 00:34] gmaggio commented on #40
I assume you're referring to issue #39. Sure, use the code if it works. Happy to contribute. Take your time and keep up the good work. ;)

[2013-05-07 21:00] piffpaffpuff opened #42 "wrong get_next_posts_page_link creation"
hi, i have woocommerce installed that creates a custom post type and taxonomy (product and product-category). when i use get_next_posts_page_link or get_previous_posts_page_link the generated url looks like this:

http://localhost:8888/?lang=en/product-category/age/0-24-monate/page/2/&lang=en

well the /?lang=en/ feels some kind of wrong, isn't it? without qtranslate-slug enabled the url is correc

[2013-05-09 22:54] ghost opened #43 "Compatibility with mqTranslate"
Hi,

Since it's a direct fork from the original qTranslate, I think it would be nice (and quite useful) if your plugin was also compatible with mqTranslate.

Haven't really tested it yet, but simply checking the existence of either qTranslate or mqTranslate appeared to do the trick so far:

qtranslate-slug.php:261:

return ( version_compare($wp_version, "3.3", "<" ) || ( !is_plugin_active('qtransl

[2013-05-17 18:47] purpurkitty opened #44 "New slug not being used in hreflang="" tag"
When you choose a different post slug for a secondary language for example, the source code for the default English version of the post still shows the default slug in the hreflang="fr" tag in the source code.

For example: I have a post with the following English slug: this-is-my-english-post
My French slug is: ceci-est-mon-post-en-francais

The source code for the English version of the post (/t

[2013-05-23 13:05] jeroenschermer commented on #20
do you have a solution at the moment?

[2013-05-27 14:43] Deelux commented on #20
You can very easily add different languages by using the shortcodes:
[:en]Home [:de]Startseite [:tr]Anasayfa

You just add these at the "Navigation Label" of your menu.

[2013-05-27 14:51] jeroenschermer commented on #20
thanks, this works great

2013/5/27 Deelux notifications@github.com

##

http://www.arkvannoach.com/

[2013-05-28 15:07] not-only-code opened #46 "Slug in Language Not Available Message"
qTranslate offers a "language not available" message including a link to the post in available languages.

So when a post is not (for example) available in Spanish, it says (in Spanish) "Sorry, this post only available in English" - with English as a link to the post in English.

This seems to fail when using qTranslate Slug - the link points to the default path but doesn't get translated.

[2013-05-28 15:14] not-only-code commented on #46
Defined previously here: https://github.com/not-only-code/qtranslate-slug/issues/29

[2013-05-28 15:14] #46 closed, assigned to nobody

[2013-05-28 15:20] not-only-code opened #47 "Add a function to get any url in any language"
As the **qTranslateSlug_convertURL** function was in versions < 1.0

[2013-06-10 11:54] craftycoding opened #48 "CSV Importer and qtranslate-slug"
Hiya,

Having some problems with a 404 error from scheduled posts. I import the posts using CSV (I have now tried two different importing CSV plugins because I thought the first one maybe wasn't importing correctly), and they are all scheduled and look fine but when they publish, they show they are published but going to the page gives me a 404 error. This only appears when I am using qtranslate-s

[2013-06-16 16:48] noref opened #49 "Redirect bug"
http://klmz.rv.ua/portfolio/%D0%BB%D1%8E%D0%BA%D0%B8-%D0%BA%D0%B0%D0%BD%D0%B0%D0%BB%D1%96%D0%B7%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D1%96/ - OK

http://klmz.rv.ua/portfolio/%D0%BB%D1%8E%D0%BA%D0%B8-%D0%BA%D0%B0%D0%BD%D0%B0%D0%BB%D1%96%D0%B7%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D1%96 - OK

// Finnishing slash doesn't matter

http://klmz.rv.ua/ru/portfolio/%D0%BA%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D

[2013-06-17 16:43] rumeau opened #50 "Problem on IIS server without mod_rewrite"
Hello, i implemented qTranslate a while ago, and now i need to add support for slug localization.

The problem is that this plugin doesnt seem to work well without mod_rewrite.

The urls i had were something like:
http://www.somedomain.com/index.php/customposttype/post-name.html

but when i enable the qTranslate slug plugin my urls are translated without the index.php part:
http://www.somedomain.c

[2013-06-23 16:18] bkatrin commented on #8
I'm running into this problem also. With the "Carousel" display of NextGen (code [nggallery id=3 template=carousel images=7]), nothing happens on a click of one of the images in the filmstrip - smells like that could be the same problem.

Is there a workaround / solution on the horizon?

[2013-07-05 15:45] wocmultimedia opened #51 "How to style it"
Hello,
I successfully use your plugin but I have a problem to style it.
Which prefix is correct to be used in css?
I mean for qtranslate I use :
.qtrans_language_chooser li { display:inline; float:left; margin-right:5px }

.qtrans_language_chooser { list-style-type:none }
But now with your plugin activated I get again the bullet beside the flag and flags in vertical. What are the correct class to

[2013-07-06 06:37] kuchenundkakao commented on #51
Well, you could try looking into the sourcecode of the site to find the correct classname ;)

Or just use

ul.qts-lang-menu / ul.qts-lang-menu li

Have a nice day ;)

[2013-07-06 06:37] #51 closed, assigned to nobody

[2013-07-06 08:07] wocmultimedia commented on #51
Hello,
I tried to search into the sourcecode but I'm not so experienced neither in wp nor in php. Thanx a lot for helping.

2)Anyhow I found a problem with woocommerce if I make a search using the category name the category changes but the product isn't found.
Do you know if your plugin is compatible with woocommerce or if it is better to use another ecommerce plugin like EDD to create a multiling

[2013-08-16 20:37] robertdiaz commented on #20
Using a quick tag works for the name of the link, but I'm actually curious about the URL of the custom link. In my case, my custom link is an inline anchor link. WP doesn't seem tike quick tags or xml language tags. It just removes everything.

[2013-08-29 09:56] renesprringmann commented on #20
Will it be possible to define a different link for each language too, i would really need this.
So somthing like "[:de]http://google.de[:en]http://google.com" could work.

[2013-10-07 22:56] jsapoznik commented on #20
After all day of reaseach on custom link I was able to fix it by creating two menus, one in english (Nav_en) and one in spanish (Nav), which is also selected as default menu, and default language is Spanish. Then on Header.php  I added this code:

<nav id="main-menu">
<?php
if(qtrans_getLanguage()=='en')   // put your code here if the current language code is 'en' (English)
{
wp_nav_menu( array('m

[2013-10-13 03:33] robertdiaz commented on #20
Wow, this worked for me as well.

If you only have 1 or 2 custom links in your navigation, you could just add some inline css to your header with your if statement solution, in order to show/hide the custom links depending on the language.

For example:
<?php if(qtrans_getLanguage()=='en') // put your inline css here to hide any non-English links
{ ?>

<style>
li#non-english-link-selectors { displ

[2013-10-13 11:48] not-only-code opened #55 "When there are 2 languages, add the option to show only 1 item in language switcher"
https://github.com/not-only-code/qtranslate-slug/issues/20#issuecomment-26210860

[2013-10-13 11:48] not-only-code commented on #20
Added as enhancement https://github.com/not-only-code/qtranslate-slug/issues/55

[2013-10-21 06:30] raneri opened #56 "Cannot logout"
I'm using Qtranslate Slug on a live website, so I can't deactivate every plugin that I installed to test it deeper, anyway I found that it seems to have an incompatibility with Theme MY Login. When both plugins are active, clicking on "logout" buttons (both from frontend and admin panel) causes an infinite redirection loop.

To avoid this, I added this piece of code at the beginning of filter_requ

[2013-10-24 20:39] jsapoznik commented on #20
So I just encounter a problem with the code...  It doesn't work with Chrome installed in languages that are neither english or spanish... Maybe it's missing one generic line of code for a default language, Any thoughts on this?

[2013-10-24 20:44] LC43 commented on #20
For example, to use english as the fallback language, use this:

[code]

On Thursday, October 24, 2013, Johanna wrote:

[2013-10-24 20:47] LC43 commented on #20
So for example

[code]

[2013-11-22 17:34] skolasbn opened #58 "qtranslate-slug putting duplicate language code into URL"
ive activated your plugin, when i click on links in my menu i'm getting a url that looks like this:

www.mysiteurl.com/fr/fr/about-us/

please let me know if you have any ideas on this.  Thank you!

[2013-12-02 19:05] evpozdniakov commented on #1
The fix #31 didn't solve the problem. But it stated working for me after adding

[code]

(as nikolov-tmw recomended)

[2013-12-15 12:40] marcellmars commented on #58
on settings page of qtranslate /wp-admin/options-general.php?page=qtranslate you should see the table with all languages and there is a Edit link for everyone of them. i fixed that by editing the language and deleting everying in Date Format and Time Format. i used it with wordpress 3.8 and it is not ready for 3.8 for sure. a lot of small bugs and annoyances.

[2014-01-08 12:09] wocmultimedia opened #59 "Improvement suggestions to make a new version"
Hi,

I have a wp 3.8 installation with woocommerce to be used in 2 languages en/it.
I found out a new plugin called qtranslate support for woocommerce.
This plugin is supposed to work with qTranslate and woocommerce but actually it doesn't work completey fine. It has only one slug box for category so by the end it doesn't translate correctly slug category to be used in widget custom menu, while it

[2014-01-21 17:42] rahilwazir opened #60 "Conflicting with WooCommerce"
Hello I'm facing a problem with `post_type_link` filter.

When i visit woocommerce archive page and click on single product, i get redirected to:
`http://example.com/used-items/%product_cat%/my-item (trigger Bad Request error)`

Instead of: `http://example.com/used-items/product-category/my-item`

My custom permalinks for WooCommerce Product is: `/used-items/%product_cat%`

It doesn't translate th

[2014-04-06 07:40] bmachuel commented on #20
Try and copy/paste this in your function.php:

[code]

[2014-04-07 21:28] dvkch commented on #20
This last answer works like a charm but not for themes with a top left icon going to the home page. I use Responsive theme, and there is an icon the upper left corner of the header, above the main menu, which gets the user to the home page. This link resets the current language.

[2014-04-07 21:34] dvkch commented on #20
Woops, actually the link is alright. Sorry for the previous post

[2014-04-08 12:46] oaigudmundsson commented on #20
Thanks bmachuel! It works!

[2014-04-09 15:51] codep0et opened #61 "404 not returned"
I have a custom post type that is set under slug options to have a different slug in French.  When anything is entered after the slug either in english or french it does not give a 404 but actually a blank page with archive in the title of the page. Eg. Now lets use example.com/en/news/asdasd and example.com/en/actualites/asdasd

both suppose to return 404 but not working.

[2014-04-11 20:45] jlnery-zz commented on #20
hello,

I tried the "bmachuel" solution, and looks solve the problem of showing the url in the menu.

My problem is when I try to save it. When I put the url with tags:
 "http://xxxxx/pt
http://xxxxx/en
http://xxxxx/es"

The string is not commited in the database when i save in Admin page.

I have to updade in database the string, so I can retrieve the url with the bmachuel solution.

Somebody hav

[2014-04-18 08:50] derbub commented on #20
Thank you, bmachuel, works perfectly. I just have one little issue: I have a language selector in one menu (custom links which link to the domain itself (language 1) and the domain/sl (language 2). Your function now translates these links as well, turning them into domain/sl (language 1) and domain/sl/sl (language 2).

Is there away to make your function work only on one of the two menus?
Or not a

[2014-04-18 11:31] bmachuel commented on #20
Hi Derbub,

Have you tried Qtranslate's built-in language selector?

Benoît

[2014-04-29 06:59] BekirFaruk opened #62 "qtranslate slug 2nd level menu 404 error"
Hello, i am having 404 error when i click to 2nd level menu items.

example.com/contact is working but if i click example.com/services/someservice i am getting 404 error.

how can i fix it ?

[2014-04-29 08:02] kuchenundkakao commented on #62
did you just recently activate qtranslate slug? If yes: you have to save the root level page again, so that the slug information is saved for the rewrite. So you first edit the page "services" and save, then edit the "someservice" page and save again.

CU, KuK

[2014-04-29 20:16] lepatachou commented on #20
@bmachuel : thanks for your solution but when I put your code at the end of function.php (WP 3.8.1), an error occurs : Fatal error: Call to undefined function add_filter() in /home/MyName/public_html/wp-includes/functions.php on line 4205

[2014-04-29 20:59] LC43 commented on #20
@lepatachou no no no , that code should go into your theme's function.php. don't edit that file wp-includes/functions.php, its the wordpress core file. If you update wp, all the changes will be lost.

[2014-04-30 06:24] BekirFaruk commented on #62
@kuchenundkakao thanks a lot. the situation was exactly as you told. I have recently activated qtranslate slug. As you said i edit "services" page and saved. Finally it works. Thanks again.

[2014-04-30 06:24] #62 closed, assigned to nobody

[2014-04-30 14:43] wouts commented on #20
I don't understand the posted solution of you bmachuel.
I want the shortcodes to work with my custom links. By adding your code to functions.php it still doesnt save the shortcoded custom link fields, so it doesn't do anything.

Please explain further for non-coders.

[2014-04-30 20:30] lepatachou commented on #20
@LC43 : Thanks for your remark. It works fine now.
@wouts : shortcodes are not saved in data base but added, by this code, dynamicaly in the link.

[2014-04-30 21:42] wouts commented on #20
Aha, yes it works. I checked the code and it looks for your site url (your domain) in the custom link. It didnt work because i had my links like this: /#link (without the domain in front).
made them like this: http://mydomain.com/#link
And it works.
Thanks for your reply lepatachou, and also big thanks to bmachuel for the code ofcourse!

[2014-05-04 13:29] derbub commented on #20
Hey bmachuel,

the widget is not really an option for me, as I need to include the language selector in the top primary menu. Is there maybe a way to disable your function for a certain menu, keeping it working for the other menus?

[2014-05-05 07:56] bmachuel commented on #20
@derbub
Can you post a link to your webpage so that we have an idea of what you are trying to achieve?

[2014-05-05 22:22] Lesrad opened #63 "Mqtranslate support"
Hi, please add support for mqtranslate, a fork of qtranslate.
It seems many users of your plugin have switched over to mqtranslate as it supports WP 3.9
From: http://wordpress.org/support/topic/please-add-support-for-mqtranslate?replies=2

As of  2.6.2.2 of mqTranslate, we restore support for qTranslate Slug features (broken in previous versions). However, your plugin needs to supports ours.

Can

[2014-05-07 11:24] LC43 commented on #63
thanks for the patch. Keep up the good work with mqtranslate!

[2014-05-07 11:24] #63 closed, assigned to nobody

[2014-05-12 15:33] not-only-code opened #64 "bad slug creation in 1.1.6"
http://wordpress.org/support/topic/v116-separating-character-not-produced

[2014-05-12 15:34] not-only-code opened #65 "remove styles from code"
http://wordpress.org/support/topic/v116-unnecessary-inline-css

[2014-05-12 15:41] LC43 commented on #65
although i agree with the user comment, this code hasn't changed since 1.0

https://github.com/not-only-code/qtranslate-slug/blame/trunk/qtranslate-slug.php#L2226

[2014-05-12 15:45] not-only-code opened #66 "widget text + flag width issue"
When you select text + flag qtranslate adds some styles to the menu 'qtrans_flag'. Delete this styles when it shows also text.

[2014-05-12 16:07] not-only-code commented on #65
https://github.com/not-only-code/qtranslate-slug/issues/66 is a related issue

[2014-05-16 00:47] #64 closed, assigned to nobody

[2014-05-16 00:47] #65 closed, assigned to nobody

[2014-05-16 00:47] #66 closed, assigned to nobody

[2014-05-21 02:30] #43 closed, assigned to nobody

[2014-05-21 02:36] not-only-code commented on #60
For now qtranslate-slug does not support ecommerce plugins like **Jigoshop** or **Woocommerce**. Anyway this was added as enhancement issue here #7

[2014-05-21 02:36] #60 closed, assigned to nobody

[2014-05-21 03:23] not-only-code opened #68 "remove mqtranslate switcher widget hook"
here https://github.com/not-only-code/qtranslate-slug/blob/v1.1.7/qtranslate-slug.php#L2183

[2014-05-21 03:35] not-only-code commented on #29
A small clue about how to solve this by Pedro:
http://wordpress.org/support/topic/not-available-in-this-language-fix

[2014-05-23 03:57] #68 closed, assigned to nobody

[2014-05-25 14:16] not-only-code commented on #59
Thanks, that's a good starting point to implement this feature. Linked to issue #7 and close this one.

[2014-05-25 14:16] #59 closed, assigned to nobody

[2014-05-27 01:44] not-only-code commented on #16
Considering it is a version of mid 2011, this issue has no sense.

[2014-05-27 01:44] #16 closed, assigned to not-only-code

[2014-05-27 02:08] not-only-code opened #71 "Pagination and search conflicts in query"
http://wordpress.org/support/topic/pagination-issue-in-searches

[2014-05-27 03:09] not-only-code commented on #71
This is the same issue #36 and #1 then i close this one.

[2014-05-27 03:09] #71 closed, assigned to nobody

[2014-05-27 03:38] not-only-code commented on #1
This patch https://github.com/not-only-code/qtranslate-slug/commit/4d6864f64c38d53bf928257abbf96185b9af713e should solve this, so i close this issue. Anyway is pending rewrite form scratch **filter_request** function as #36 says.

[2014-05-27 03:39] #1 closed, assigned to not-only-code

[2014-05-27 03:48] not-only-code opened #72 "PHP Errors in Admin / Settings / Permalinks & Slug options"
[code]

[2014-05-27 04:19] #72 closed, assigned to not-only-code

[2014-05-27 05:06] not-only-code commented on #56
I've just tweaked this function, let me check if that solves this issue.

[2014-05-27 05:12] not-only-code commented on #50
Hello, try to disable the 'pretty permalinks' ( admin / settings / permalinks ) and set up the simple language URL mode in qtranslate ( admin / settings / languages, advanced dropdown )

[2014-05-27 22:36] LC43 commented on #25
i think this problem persists.

this code removes the `meta http-equiv` tag and important qtranslate styles ( like the flags background ).

should we include the styles in our qts-defaults.css file?

otherwise, this is ready to fix a couple of issues!

issue on wp.org:
http://wordpress.org/support/topic/hreflang-creates-broken-link-404

and issue #44

[2014-05-27 22:37] LC43 commented on #44
this seems to be related to #25

[2014-05-27 22:56] LC43 commented on #25
as for the meta tag, W3C says to not use it any longer, and rely on <html lang=

http://www.w3.org/International/questions/qa-http-and-lang.en

[2014-05-28 00:27] not-only-code commented on #25
We could add a checkbox in the admin section (let me think where is the best place) if user wants to show the `<link />` tag for his old theme.
I think by default in modern themes `lang` attribute is added in the `<html />` tag.

[2014-05-28 00:35] not-only-code commented on #25
About styles, i think styling  a flag with css and background image is a bad solution, because every language generates his own image path dynamically.

This would be more easy if the menu 'image' generates an `<img />` tag inside of `<li />`, [here](https://github.com/not-only-code/qtranslate-slug/blob/trunk/includes/class-qtranslate-slug.php#L2247). The rest of generic styles could go in `qts-de

[2014-05-28 00:45] LC43 commented on #25
I like your idea! I was thinking of appending the bg image style to the
qts-default.css dynamicly. Maybe another option box is needed because it
may break some sites. People with no knowledge of css might panic.

On Wednesday, May 28, 2014, Carlos Sanz García notifications@github.com
wrote:

[2014-06-03 14:52] not-only-code commented on #56
For me works fine, try to use [mqtranslate](https://wordpress.org/plugins/mqtranslate/) and [qtranslate-slug 1.1.7](http://downloads.wordpress.org/plugin/qtranslate-slug.zip)

[2014-06-24 19:06] sardbaba commented on #20
@bmachuel thanks, qtranslate_menu_item is a lifesaver!

[2014-06-25 20:58] jp1976 commented on #20
hi, i have inserted the @bmachuel code in my theme functions.php, but, a question, how i can insert my custom link in menu?
I need to make a menu with links to an external site, but with correct language redirection.
qtrans Shortcodes don't works.
Can u help please?

[2014-06-25 23:13] jp1976 commented on #20
it works, but i have checked the code and it looks for your site url, now i have another problem, i need to insert an external custom link (from another site) and NOT from my site.

[2014-07-01 11:52] ratulo commented on #20
@bmachuel hi, just great piece of code. Is it possible to somehow exclude 1 or more items from menu? I mean everywhere give me www.xxxxxx.com/pl/xxxxxx,but i need i one item to give me wtihout language- just pure www.xxxxx.com/xxxx. is it somehow with some class or what? Thanks all best

[2014-07-18 11:40] luiito opened #74 "Design changes"
Hello,

I have a problem with qtranslate slug. In the French language, it has changed the design of the web, while in the rest works fine.

This is the web:
French: https://www.theurbansuites.com/fr/suites-et-appartements/
English: https://www.theurbansuites.com/en/suites-apartments/

Can you help me?

Thank you

[2014-07-21 13:49] kuchenundkakao commented on #74
Well,
in line 134 of your themes style.css, theres this:
.fr {
    float: right;
}
And the qtranslate / qtranslate slug adds the language tag to the body class, in this case "fr". So your whole body element gets the style "float: right".

[2014-07-22 11:21] luiito commented on #74
Thank you!

[2014-07-22 11:21] #74 closed, assigned to nobody

[2014-08-27 20:25] arildm opened #76 "Hide menu links with untranslated titles"
Some users, me included, need to be able to hide some menu links for some languages. That is typically done by making sure that the linked-to content is not translated to that language, but that is impossible in the case of external/"custom" links. For that case maybe we could have an option in the settings to "Hide menu items whose title is not translated"? (Or it could be default behaviour, but

[2014-09-01 20:10] wocmultimedia opened #77 "Attribute and Terms in woocommerce not translated"
Hello,
I'm using your plugin with mqTranslate and it works perfectly except for the Attribute and Terms (attribute variations) not translated. There's only one box when and if I use quicktags they are shown in the product page. The rest is perfect following your usage instructions. Please, have a look at this product page I just created to test a product with variations, if you click on the flags

[2014-09-04 16:41] daniloaz commented on #6
Could you please tell me wich function should be used instead of deprecated qtrans_convertURL? I created a workaround for this issue (http://www.daniloaz.com/en/google-xml-sitemaps-v3-for-qtranslate-doesnt-work-with-qtranslate-slug/), but it seems that you have a better approach here.

Thank you!

[2014-09-08 22:24] not-only-code commented on #6
Hello,
currently  there is not any function like **qtrans_convertURL**, but there is an issue to build a new one here https://github.com/not-only-code/qtranslate-slug/issues/47, less recursive than **qtrans_convertURL**.

[2014-09-10 14:58] hirasso commented on #72
Same here, also on custom post type edit.php screens

[2014-09-13 13:44] piffpaffpuff opened #78 "check for existance"
wordpress spits out some warnings, because keys arent checked. first line 1653, $term isn't always an object, it can also be a plain string based on the wordpress documentation.

correction:
`
if( is_object( $term ) ) {
$term->name = $meta[$term->name][$lang];
}
`

then on line 1608 check again if the key exists. correction:

`
if (isset($meta[$term->name]) && isset($meta[$term->name][$lang])) {
$

[2014-10-05 20:42] Siliconsoul opened #79 "Pagination does not work"
Apparently there are a few bugs concerning paginations.
When on the front page and you click on older blogs, the language switcher no longer works (empty href).
When in a category and you click on older posts, the language switcher resets the pagination to the first page.
The above occurs in pre-path mode. I have tried query mode but that breaks the url completely with queries in the middle of the

[2014-10-07 13:06] not-only-code opened #80 "Add support for qtranslate plus"
As mqtranslate. https://wordpress.org/plugins/qtranslate-xp/

[2014-10-07 13:08] not-only-code commented on #79
This is the same issue #36 and #1 then i close this one.

[2014-10-07 13:08] #79 closed, assigned to nobody

[2014-11-01 11:47] dhirnitish opened #83 "Theme css and other css not working"
When i active the plugin its converts the url to other language but the css and some other slider files dont load.
The files start picking up path with the language shortcode and hence not able to find the files
de/jquery.js
de/nivo-slider/themes/default/default.css

[2014-11-01 12:45] LC43 commented on #83
How are you loading those files?

On Saturday, November 1, 2014, dhirnitish notifications@github.com wrote:

[2014-12-23 02:31] LC43 commented on #25
providing sources:
http://www.w3.org/TR/html401/struct/dirlang.html#adef-lang
http://www.w3.org/TR/html401/struct/links.html#adef-hreflang

[2014-12-23 03:11] #25 closed, assigned to not-only-code

[2014-12-23 03:11] LC43 commented on #25
fixed in 1.1.8

[2014-12-23 03:11] LC43 commented on #44
fixed in 1.1.8

[2014-12-23 03:11] #44 closed, assigned to nobody

[2014-12-23 03:17] LC43 commented on #56
i assume this has been fixed. great!

[2014-12-23 03:17] #56 closed, assigned to nobody

[2014-12-23 04:04] LC43 commented on #80
qtranslate-xp, qtranslate-X and ztranslate change the function names.

[2014-12-27 02:47] LC43 commented on #80
further insight here: https://wordpress.org/support/topic/revert-the-function-naming-to-the-original-2?replies=5

[2015-01-05 00:55] LC43 commented on #78
thanks @piffpaffpuff! We're reviewing the whole code, and we had already some commit to fix these.

[2015-01-11 22:16] tsparber opened #87 "Version 1.1.10 on Wordpress Plugin repo contains old code"
Hi,
for me downloading the latest version 1.1.0 from the Wordpress repo yields to an old version (for eq no qtranslate-x support).
https://downloads.wordpress.org/plugin/qtranslate-slug.1.1.10.zip
Downloading the 1.1.9 version yields to better results (same as this repo).
https://downloads.wordpress.org/plugin/qtranslate-slug.1.1.9.zip

Diff: (Selected line shows compatibility check)
https://gist.

[2015-01-11 22:21] LC43 commented on #87
You are right! how did i manage to do this? :/

[2015-01-11 22:46] LC43 commented on #87
Fixed! :D  thanks @tsparber for helping out!
https://wordpress.org/plugins/qtranslate-slug/developers/

[2015-01-11 22:46] #87 closed, assigned to nobody

[2015-01-11 23:25] LC43 commented on #80
fixed in #85 and then again in 6311c838636bc1bb2348ccacd932448f55a9f8d6

[2015-01-11 23:25] #80 closed, assigned to nobody

[2015-01-11 23:26] LC43 commented on #78
fixed in 6311c838636bc1bb2348ccacd932448f55a9f8d6

[2015-01-11 23:26] #78 closed, assigned to nobody

[2015-01-11 23:27] #3 closed, assigned to not-only-code

[2015-01-11 23:29] #14 closed, assigned to not-only-code

[2015-01-11 23:29] #17 closed, assigned to not-only-code

[2015-01-11 23:29] #22 closed, assigned to not-only-code

[2015-01-11 23:29] #33 closed, assigned to nobody

[2015-01-11 23:31] LC43 commented on #34
going to close this after 1 year. Thanks everyone!

[2015-01-11 23:31] #34 closed, assigned to nobody

[2015-01-11 23:32] LC43 commented on #17
going to close this after 1 year. Thanks everyone!

[2015-01-11 23:33] LC43 commented on #33
going to close this after 1 year. Thanks everyone!

[2015-01-11 23:36] LC43 commented on #22
going to close this after 1 year. Thanks everyone!

[2015-01-11 23:36] LC43 commented on #14
going to close this after 1 year. Thanks everyone!

[2015-01-11 23:38] LC43 commented on #38
fixed in 6311c838636bc1bb2348ccacd932448f55a9f8d6

[2015-01-11 23:38] #38 closed, assigned to nobody

[2015-01-11 23:39] LC43 commented on #39
i think it has been fixed in 6311c838636bc1bb2348ccacd932448f55a9f8d6

[2015-01-11 23:39] #39 closed, assigned to nobody

[2015-01-11 23:54] LC43 commented on #29
partly solve in 6311c838636bc1bb2348ccacd932448f55a9f8d6. Still needs work on list of posts/pages.

[2015-01-11 23:57] LC43 commented on #49
uu, 2013..

we need to properly test utf8 urls...

[2015-01-12 00:35] LC43 opened #90 "Improve slug creation"
if the slugs automatically updated along with the titles, otherwise you have to manually update them if you decide to update the title to be consistent.

from [support forum](https://wordpress.org/support/topic/great-but-still-some-room-for-improvement)

related issue #12

[2015-01-12 23:02] tsparber opened #92 "Changing navigation menus is broken"
Hi,

I noticed, that adding new Pages to a Menu breaks the translation.
Upon saving the now changed menu every old translation gets deleted.

Step 1: Create a new test menu /wp-admin/nav-menus.php
Step 2: Add some pages
![screenshot 2015-01-12 22 29 12](https://cloud.githubusercontent.com/assets/1390036/5712974/30215332-9ab7-11e4-8587-6bb90c67ff0e.png)
Step 3: Add more pages
![screenshot 2015-01-1

[2015-01-14 22:15] pedro-mendonca opened #95 "Translation strings used in .pot and .po files, from domains 'qts', 'qtranslate' and no domain."
I've been using Poedit to update .pot catalog and portuguese pt_PT.po files.

When I include __() and _e() keywords in Poedit properties, it parses all php and include both 'qts', 'qtranslate' and some __('string') without 'text-domain'.
I believe that it's only needed for the actual translation the strings from 'qts' domain, as 'qtranslate' reads the main qtranslate (or fork) plugin and the the s

[2015-01-15 00:28] LC43 commented on #95
Hi @pedro-mendonca , very good question. I myself been wondering the same. To be honest there's no good tool to generate the .pot file using only a textdomain. Thinking on your perfectly laid out possibilities, maybe we should opt to use d). We can do that by  using the  "context",  as in `_x('Language List',"don't translate this","qts");`  or we can use a [notice ](https://developer.wordpress.org

[2015-01-15 08:32] pedro-mendonca commented on #95
Hi @LC43 , I think a notice won't help to filter out automatically the not-to-translate strings as you cannot use it to exclude anything in Poedit.
Your suggestion of use contexted keywords as in _x('Language List',"don't translate this","qts"); might just work.
You might keep strings to translate in __() and _e() and the _x() function can be excluded from keyword list in .pot and .po files. I bel

[2015-01-15 11:23] pedro-mendonca commented on #95
@LC43 as far as I could check, the _x() / _ex() functions could work with a context note, but the not must exist also in 'qtranslate-XX.po/.mo. It doesn't make sense because it's out of control of qtranslate-slug work.

Examples:
__( 'Settings' /\* already translated in main WordPress _/ )
_x( 'Settings', 'CONTEXT', 'qtranslate' /_ already translated in main qTranslate plugin */ )

_x() can really

[2015-01-15 13:11] LC43 commented on #95
On Thursday, January 15, 2015, Pedro Mendonça notifications@github.com
wrote:

You're right, good job hunting all this information! Let'd move into this
then, whenever you have time. Im about to work with a client in morocco, so
ill be away for 3 weeks. I wish i could add you to the admins,but carlos is
the only one that can do it. So, meanwhile, i accept any pull request and
push it to main wp.or

[2015-01-15 18:53] johnclause opened #96 "Menu items become impossible to translate."
People used to enter text like this `DEEN` in field "Navigation Label" of menu item to translate it to different languages. If -slug is active, this is no longer possible.

Applies to both mq and -x.

Let us discuss before changing anything. The solution could be is to enable Language Switching buttons in menu editor. Normally, we keep input fields untranslated or responsive to Language Switching

[2015-01-16 02:03] LC43 commented on #96
On Thursday, January 15, 2015, johnclause notifications@github.com wrote:

I thought i fixed it, but one of our users already noticed a bad bug.

From my experience, it had been very tiring to use the menus with the
comment tags. Especially if I had 5 or 6 languages. Having to look for the
right ... when i just wanted to make a small change, it was
very error prone. Its the same rationale of your

[2015-01-16 19:42] pedro-mendonca commented on #95
Hi
I'll move every string to 'qts' text domain then. I'll join the language files updated also.
As soon as I have it all, I'll pull it.

About the suggestion of merging, maybe you can keep that in mind just to consider all pros and cons.

For now, let's keep cleaning and improving qts :)

Thank you for your attention on this.
Pedro

[2015-01-19 19:22] johnclause commented on #92
@tsparber: I do not think it belong to -slug plugin, menu was never translated in any qTranslate\* fork, but it was possible to put []<> encoded translations manually and people were doing it. Which one do you use? I hope the next version [qTranslate-X](https://wordpress.org/plugins/qtranslate-x/) will have it straighten out.

[2015-01-19 19:32] johnclause commented on #96
Hi Pedro, I agree, that manual editing was awful, but was working as a workaround, which is better than nothing. I think I got now menu working with Language Switching Buttons, and also fixed tags and category editings imperfections. I am testing it now. I would like to release it as quickly as possible.

I am not sure how it will affect -slug plugin, I am not that familiar with -slug yet. How wou

[2015-01-19 21:26] johnclause commented on #96
trunk https://github.com/qTranslate-Team/qtranslate-x now has a version 2.9.7b available for testing

[2015-01-19 21:27] johnclause commented on #92
trunk https://github.com/qTranslate-Team/qtranslate-x now has a version 2.9.7b available for testing

[2015-01-19 22:21] johnclause commented on #96
Zip file can also be downloaded from WP:
https://downloads.wordpress.org/plugin/qtranslate-x.2.9.7b.zip

[2015-01-19 22:47] tsparber commented on #92
@johnclause I do think the described feature is part of the -slug plugin (see https://github.com/not-only-code/qtranslate-slug/blob/trunk/assets/js/qts-nav-menu.js). Using slug the translated Menu items are automatically created.

Not loosing the translations upon adding a new pages would be the only desired fix :+1: :smiley:

[2015-01-20 04:52] johnclause commented on #92
Ah, ok, I did not know that, I just did not see it working under qTranslate-X, it removed the translations of other languages except the default one, and I assumed that -slug broke it. Thanks a lot, @tsparber, for letting me know.

Anyway, menu translation support is now available in a native for -X way, namely through the use of Language Switching Buttons. It is not released to public yet, it is

[2015-01-20 19:31] johnclause commented on #96
I created a pull request: https://github.com/not-only-code/qtranslate-slug/pull/97

Pedro, I am not that familiar with -slug yet, and do not know how to test it well. It seems to me that for this particular case, simple not loading of -slug menu solution is the only thing we need to do. Do you think so?

It seems that this topic is a duplicate of https://github.com/not-only-code/qtranslate-slug/is

[2015-01-20 19:38] johnclause commented on #92
Hi All, I created a pull request: https://github.com/not-only-code/qtranslate-slug/pull/97 which might be all we need, but I am not sure, I am not very fluent on -slug and I might be missing something.

It needs to be tested together with the latest trunk [qTranslate-X](https://github.com/qTranslate-Team/qtranslate-x).

Pedro, I also re-enabled widget back, since it has some new features, which -s

[2015-01-21 09:37] LC43 commented on #92
Hello everyone, thanks for your feedback. Since i'm busy at work, the solution for now is to follow @johnclause PR and  disable our admin menus. Hope to have a sometime during weekend to fix ours.

[2015-01-21 09:37] #96 closed, assigned to nobody

[2015-01-21 19:07] johnclause commented on #92
Could you describe the advantages of -slug interface over native -x way? I never saw it working in my tests and do not really know how it was supposed to be.

-slug was originally designed to support the original qTranslate interface, which  is no longer available in -x. And people seem to love Language Switching Buttons much more over multiple fields for each language on a page. Imagine 40 langua

[2015-01-21 23:07] johnclause opened #98 "two error_log messages spotted when WP_DEBUG is on"
`
PHP Notice:  Undefined variable: html in /wp-content/plugins/qtranslate-slug/includes/class-qtranslate-slug.php on line 2464
`

This one is easy, `$html` indeed may not be assigned before `$html .=` is used. I was going to submit PR as for little imperfection, but then this one

`
PHP Notice:  Undefined variable: termname in /wp-content/plugins/qtranslate-slug/includes/class-qtranslate-slug.php

[2015-01-23 15:47] pedro-mendonca commented on #95
Hi @LC43

I've just completed all this, transformed every text string to 'qts' text domain.
I found a text "More information about [qTranslate-X;mqTranslate;etc]" that I made the common part translatable.
I've also updated the .pot and pt_PT files
Pull request here: https://github.com/not-only-code/qtranslate-slug/pull/100
For now I think this is Issue is closed.
Maybe the thought about a future m

[2015-01-23 20:06] LC43 commented on #95
Thanks for the effort @pedro-mendonca ! and nice catch!

[2015-01-23 20:06] #95 closed, assigned to nobody

[2015-01-23 20:09] LC43 opened #101 "Merging with Qtranslate-x"
Hi everyone,

@johnclause has been working hard at qtranslate-x, and many of our features have been fixed in their code. Our broken menu changer has been fixed in his, apparently his widget has more features than ours, and the user interface seems to be pleasing to their users.

Not sure where mqtranslate is going, and if people altogether move to the common qtranslate-x code base, with slug capab

[2015-01-23 20:10] LC43 commented on #95
@pedro-mendonca , check #101 :)

[2015-01-23 20:12] LC43 commented on #101
@xhaleera any thoughts?

[2015-01-24 08:28] chsxf commented on #101
I'm in the process on integrating all improvements of qTranslate-X into mqTranslate, in order to enhance interoperabiltiy and potentially merge the two plugins in the future.

[2015-01-24 12:03] pedro-mendonca commented on #101
Hi,
Some days ago I've read this post from @xhaleera in mqTranslate support forum:
https://wordpress.org/support/topic/2015-what-to-expect-for-mqtranslate

I think merging mqTranslate with qTranslate-X is a very good idea, why not all these alive platforms join forces and keep a main opensource multilanguage platform alive. I've been watching the gradual syncing between these two forks, and I'm ve

[2015-01-24 18:37] LC43 commented on #101
Alright! Then, if time permits, lets try to keep up the pace with your merge, and be compatible with you guys.  WordPress 4.2 (April 2015) or  4.3 ( August 2015) seem to be a good target.

I might even pick up [qtranslate-meta](https://wordpress.org/plugins/qtranslate-meta/), the last of the trio!

[2015-01-24 18:42] LC43 commented on #101
also, that plugin also has a [github repository](https://github.com/bestwebsoft/multilanguage-wordpress-plugin) which is always useful, to check their filters :D

[2015-01-24 19:26] pedro-mendonca commented on #101
Great, this is the git of the Multilanguage plugin. It looks like a fork of qTranslate also.

[2015-01-27 09:21] kuchenundkakao opened #102 "Post Type Archive Links not generated, fix for function filter_request"
Hi again!
The current version of qtranslate slug doesn't translate the link for custom post type archives correctly.

How to fix:
Insert an "if" in the filter_request function of class-qtranslate-slug.php for the case "isset($query['post_type']" like this:

if((count($query) == 1) && isset($query['post_type'])){
                //post type archive
                $function = 'get_post_type_archive

[2015-02-02 08:32] johnclause commented on #101
Could you guys do a favor to me and test the latest from GitHub https://github.com/qTranslate-Team/qtranslate-x version together with -slug? Especially category/tags/menu editors. There has been a lot of changes, both bug fixes and new features. I would appreciate very much if you could try to break it in any way you can imagine.

[2015-02-10 03:42] johnclause opened #103 "domain.com/slug instead of domain.com/en/slug"
It is a common suggestion from a number of uses to make URL look like `domain.com/slug` instead of `domain.com/en/slug`, since 'slug' already defines the language. What is your insight on this?

[2015-02-10 10:20] LC43 commented on #103
Hi @johnclause, thanks for asking.Its one of the features that i always use. and i got mixed reactions when a client tried the recent qtranslate family. I ended using multiple installations.

[2015-02-10 19:25] johnclause commented on #103
Hi Pedro (@LC43), I am a bit confused what you mean here. Can you explain a bit more what exactly feature do you mean in "Its one of the features that i always use"? I might made my question too short. I did not mean any feature which can be used or not used. The -slug plugin currently works by replacing standard slug with a language specific one in the URL like this `domain.com/en/slug`. What peo

[2015-02-10 20:15] LC43 commented on #103
Ohhh! I thought you meant to either keep / or /lang for the default
language.

We make sure each slug is unique in its domain. It would mean it now would
be unique in all languages, taxonomies ( if the user disabled /category/
) and attachments ( there's a bug report from a user that had a file with
the same name as the post and it was causing him 404).

Now that would be awesome!!

It would have

[2015-02-14 03:42] johnclause commented on #103
Hi Pedro,

Would you wish to cooperate to implement it? I believe we can introduce a new URL modification mode 'Slug' in addition to 'Pre-Path', 'Pre-Domain', and 'Query'. I have already put filters/actions in some places where I think they would be needed to implement it. For example, there is `apply_filters('qtranslate_parse_language_info_url_mode'` in function `qtranxf_parse_language_info`, whe

[2015-02-14 19:21] johnclause opened #104 "compatibility with google-xml-sitemaps-v3-for-qtranslate plugin"
I came across this document:

http://www.daniloaz.com/en/google-xml-sitemaps-v3-for-qtranslate-doesnt-work-with-qtranslate-slug/

What is the status of this issue now?

[2015-02-15 22:10] LC43 commented on #104
hi john, thanks for bringing this question. I'm not sure. its on my TODO list. its a very crucial thing.

[2015-02-15 22:16] LC43 commented on #103
Hi @johnclause, i would love to work on this. But i'm overwhelmed at my job right now and i'm moving to another country in a few days, so i'm not even sure when i can have a break during the next few months.

sorry :(

[2015-02-15 23:45] johnclause commented on #103
Ok, then this can wait for now. I have some other fires to fix first too. Let us keep it open and we will come back to it later.

[2015-02-17 12:50] kuchenundkakao opened #105 "Taxonomy term splitting in 4.2 - action maybe needed?"
Hi!
With the Wordpress 4.2 Update coming up, i saw that there is an update coming for shared terms.
You can see it here:
https://make.wordpress.org/core/2015/02/16/taxonomy-term-splitting-in-4-2-a-developer-guide/
As qtranslate slug uses the term id, this maybe could become a problem. Please have a look.

Happy Coding,
Kuchenundkakao

[2015-02-17 16:28] LC43 commented on #105
Hi @kuchenundkakao , thanks for the heads up! This will be a good opportunity to fix all the term related issues. @not-only-code , how's your schedule?

[2015-02-25 19:24] johnclause opened #107 "qts_split, qts_use & qTranslate-X 3.1"
Hi Pedro, I have just discovered that -slug seem to override the behaviour of functions `_split` and `_use`, which I did not expect. Please, read release notes https://wordpress.org/support/topic/release-31-notes for version 3.1 of qTranslate-X. I believe it makes -X to be incompatible with -slug. You need to remove all customization of `qtrans_` functions for -X integration. Besides, as far as I

[2015-02-28 06:02] johnclause opened #108 "Where is the latest code to be forked?"
Hi Pedro (@LC43) & Carlos (@not-only-code), just a quick question, where is the version of -slug at github which I can fork to investigate?
I assume that svn tags/1.1.13 is the one currently distributed. However, http://plugins.svn.wordpress.org/qtranslate-slug/tags/1.1.13/readme.txt is different from both https://github.com/not-only-code/qtranslate-slug/blob/trunk/readme.txt and http://plugins.sv

[2015-02-28 23:48] LC43 commented on #108
hi @johnclause, the latest is from tag 1.1.13, but there's a final PR that i want to push, so let me just test it and i'll make all based on the same code.

[2015-03-01 03:14] johnclause commented on #108
Thanks, Pedro, yes, I would not be able to pr against svn  tag 1.1.13, so I'll wait.

Are you doing adjusting for https://github.com/not-only-code/qtranslate-slug/issues/107 too?

BTW, could you make detection of qTranslate-X based on 'QTRANSLATE_FILE' constant, otherwise when people test betas and install -X in a different folder, -slug stops working. This is one of the things I was going  to pr

[2015-03-02 12:28] pedro-mendonca commented on #101
@johnclause  and @LC43
One thing I've notested recently is that the widget is now duplicated.
With mqTranslate, qtranslate-slug overrides the language chooser. Now, with qTranslate-X I have two widgets available, one from -X and other from -slug.
Both have different options now, -slug have language code option and no final colon, and -x now have "hide title colon:" patch.
At the moment I like most

[2015-03-05 05:04] johnclause commented on #108
Hi Pedro, did you finish your move, you mentioned other day, or you are in the middle of it? I hope all is going well with you?

Quick question, just out of curiosity. Why did not you store slugs in posts.post_name field in multilingual format with tags like `[:en]slug-en[:de]slug-de`? This would be natural to q, would not it? Were you afraid of performance issues? I am not saying that it needs to

[2015-03-23 11:29] #102 closed, assigned to nobody

[2015-03-23 11:41] LC43 commented on #108
I wasn't the author for that code, but i'll assume that yes. one of the things qtranslate was so slow was because of all the costly regexes. If you access the db, select what you need without further calculations.

[2015-03-31 19:35] pollydesh commented on #20
Hello,

@wouts - how did you add the custom urls? Because I have pasted the code from @bmachuel and also tried lots of different ways to put the links in the menu (I am ok with the headers using "За тебFor You" for instance) but with the urls I have no success. And the theme doesn't give me to create different menus (because it has different navigations and for each navigation it only gives me one

[2015-04-01 03:46] bmachuel commented on #20
@wouts
Can you post a link to your webpage so that we have an idea of what you are trying to achieve?

[2015-04-12 18:10] LC43 commented on #107
nice to see some those changes! i've reverted ( its in the wp repo, for now)

[2015-04-12 20:10] LC43 commented on #92
we've removed the language meta box in favor of more refined qtx meta box.

[2015-04-12 20:10] #92 closed, assigned to nobody

[2015-04-12 20:10] #107 closed, assigned to nobody

[2015-05-03 13:15] foxpcteam opened #109 "change qtranslate slug metabox priority"
Hi,
how to change qtranslate slug metabox from high priority to low?
i dont want that qtranslate slug metabox will be at high priority.

Thanks

[2015-05-03 14:24] LC43 commented on #109
hi @foxpcteam , you can find the code here
https://github.com/not-only-code/qtranslate-slug/blob/trunk/includes/class-qtranslate-slug.php#L2004

its one for post, other for pages and for each custom type.

[2015-05-03 14:45] foxpcteam commented on #109
yes i know that. the question if it possible to change this without touching the plugin files?

maybe you can add some hook?

[2015-05-03 15:02] LC43 commented on #109
that's a nice thing, feel free to do a PR, are you confortable with it?

[2015-05-03 15:41] foxpcteam commented on #109
no. what is PR?

[2015-05-03 17:43] LC43 commented on #109
its a pull request. well, i've placed two filters, one for context and other for priority. it filters for all kind of posts and pages. you can now do this:

[code]

I'll remind you that if you already moved the box, it will stay there.

[2015-05-04 08:48] foxpcteam commented on #109
Thanks!

[2015-05-08 20:44] EmilEriksen commented on #98
I'll add another one `Notice: Undefined index: product in /qtranslate-slug/includes/class-qtranslate-slug.php on line 1017`. Apparently $query[$query['post_type']] is not always defined.

[2015-05-11 11:11] LC43 commented on #98
@EmilEriksen thanks for reporting, i will look into it!

[2015-06-06 15:39] LC43 opened #110 "convert old slug to main language slug { bug taken from wp.org }"
philtrep wrote:

_Hi all_,

_It seems that when I installed this plugin, the original slugs have been removed and I am getting 2 blank boxes for the news slugs (French and English, not that it matters)._

_Is there a way for me to keep the original slug (French one) when activating this plugin?_

_Thanks in advance!_

https://wordpress.org/support/topic/qtranslate-slug-not-kept

[2015-06-08 20:31] johnclause commented on #110
The original slug is still there in metabox "Slug", where it always used to be. The metabox may got closed though, but you can open it again through "Screen Options" at the top of the page.

[2015-06-08 20:48] johnclause commented on #108
Hi LC43, it confirmed that the latest code of q-X from [GitHub](https://github.com/qTranslate-Team/qtranslate-x) broke -slug again. If you go to any custom slug, "page not found" is shown. I am in the process of formalizing PHP integration interface and the internal code gets changing all the time. It will keep happening until -slug is integrated properly through "allowable" interface.

I see that

[2015-06-09 04:43] LC43 commented on #110
Hi @johnclause , yeah, but i think the user wants to "import" the old slugs into the main(?) language.

in the options, we can maybe add this possibility.

[2015-06-09 04:48] LC43 commented on #108
hi!

yes, unfortunatly i did a couple of fixes on the wp.org branch and never got the change to merge with this code. Its a shame too, because there were some nice additions by the contributors.

anyway, i hope friday i have some free time to check your code. can you hold on until then?

[2015-06-11 20:19] johnclause commented on #110
But this is how it works already. If no custom slug provided then the old default slug is in use, is not it? It is already "imported", just is not shown, but can be looked up as I mentioned. Anyway, as to me it is not important.

[2015-06-16 05:38] johnclause commented on #108
Hi Pedro, @LC43: I think I found the problem in the beta qtx  which broke the latest -slug. Could you try the latest from [GitHub](https://github.com/qTranslate-Team/qtranslate-x) on your sites and see if it works as good as before?

[2015-07-04 06:26] testdummyid commented on #20
Thanks bmachuel.

I have used following code shared by you and it works for me.
Cheers!!!!!
// Makes menu urls work with Qtranslate
function qtranslate_menu_item( $menu_item ) {
  if (stripos($menu_item->url, get_site_url()) !== false){
    $menu_item->url = qtrans_convertURL($menu_item->url);
  }
  return $menu_item;
}

add_filter('wp_setup_nav_menu_item', 'qtranslate_menu_item', 0);
/***********

[2015-10-08 13:43] daslicht opened #115 "Parameter missmatch ?"
Here :
https://github.com/not-only-code/qtranslate-slug/blob/trunk/includes/class-qtranslate-slug.php#L2408
we have the function call :

[code]

but :

[code]

only accepts 4 parameters ?

[2015-10-08 14:16] LC43 commented on #115
Hi @daslicht , thanks for reporting. hm, i need to review that.

[2015-10-08 14:22] daslicht commented on #115
see also my post at the wordpress support forum, I get some errors

[2015-10-08 15:32] daslicht commented on #115
see: https://wordpress.org/support/topic/creating-categories-not-working-reliable

[2015-10-08 15:36] daslicht commented on #98
related: https://github.com/not-only-code/qtranslate-slug/issues/115

[2015-10-23 08:00] hamstelfo opened #116 "Category slug not saved"
Hello all,
I'm getting problems with the category slugs. I can not save them (I fill the fields, save, get no errors, but the fields are still empty --> See the image below):

I have:

Wordpress 4.3.1
qTranslate slug 1.1.17
qTranslate-X 3.4.6.4
Woocommerce 2.4.7
Woocommerce & qTranslate-X 1.3
Woocommerce Customizer 2.1.1
Yoast SEO 2.3.5
Yoast SeO & qTranslate-X 1.1

Any idea? Thanks!

Rubén P.

![

[2015-10-23 11:34] LC43 commented on #116
Hi, you are right, let me check

[2015-10-26 11:21] kuchenundkakao opened #117 "Termmeta to be included into core... please Check ;)"
https://make.wordpress.org/core/2015/09/22/preparing-your-plugins-and-your-client-sites-for-termmeta/

[2015-10-28 14:30] hamstelfo commented on #116
Hi, did you find any solution? Thank you very much!

[2015-11-12 08:05] metinmete opened #118 "Add .html Extension in Custom Post Type URL"
I am using .html plugin or without plugin for my custom post. It add .html extension after post url. But after installing the plugin does not work.

It has changed the rewrite rules in the plugin code.

Is it possible plugin settings to add this?

[2015-11-22 16:06] LC43 commented on #117
thanks @kuchenundkakao !

[2015-11-22 16:46] LC43 commented on #116
hi @hamstelfo , have you tried cloning this repo? i've tested and it  seems working fine with the 4.3.1 and 4.4.

qts ( github )
qtranslate-x ( latest: 3.4.6.4 )
wordpress: 4.3.1 and 4.4

[2015-11-22 16:53] LC43 commented on #58
thanks everyone for reporting and helping. i'm closing this issue!

[2015-11-22 16:53] #58 closed, assigned to nobody

[2015-11-22 16:55] LC43 commented on #40
somewhere between april 2013 and now, it has been fixed. Thanks everyone! :dancer:

[2015-11-22 16:55] #40 closed, assigned to nobody

[2015-11-22 16:56] LC43 commented on #5
i believe this is not an issue anymore.

[2015-11-22 16:56] #5 closed, assigned to not-only-code

[2015-11-22 18:23] LC43 commented on #47
/**
- Finds the translated slug of the given post by calling get_slug
- @param int $id the post id
- @param string $lang which language to look for
- @since 1.1.13
  */

function qts_get_slug( $id, $lang )

[2015-11-22 18:23] #47 closed, assigned to LC43

[2015-11-22 18:24] LC43 commented on #50
closing, more than 2 years.

[2015-11-22 18:24] #50 closed, assigned to nobody

[2015-11-22 18:25] LC43 commented on #48
does it stil happen? closing it for now, more than 2 years.

[2015-11-22 18:25] #48 closed, assigned to nobody

[2015-11-22 21:44] #109 closed, assigned to nobody

[2015-11-22 21:45] LC43 commented on #83
no reply. closing.

[2015-11-22 21:45] #83 closed, assigned to nobody

[2015-11-22 22:38] LC43 commented on #115
fixed in 1.1.18, thanks @daslicht !!

[2015-11-22 22:38] #115 closed, assigned to nobody

[2015-11-22 22:40] LC43 commented on #61
i believe this is now fixed.  i know its been too long.. sorry!

[2015-11-22 22:40] #61 closed, assigned to nobody

[2015-11-22 22:46] LC43 commented on #49
i believe with the new qtranslate-x and with our latest versions, utf8 slugs are working fine. let us know if some issues arise.

[2015-11-22 22:46] #49 closed, assigned to LC43

[2015-11-22 22:49] LC43 commented on #77
sorry, its been a year without any response. woocommerce support is non-existing for now. closing for now. hopefully when qtx and qts merge, there will be enough manpower to fix this.

[2015-11-22 22:49] #77 closed, assigned to nobody

[2015-11-22 22:50] LC43 commented on #98
thanks everybody! i think i've fixed all the notices/warnings. please open a new bug if you find any! your help is really appreciated!

[2015-11-22 22:50] #98 closed, assigned to nobody

[2015-11-22 22:53] LC43 commented on #108
@johnclause i've been trying to get a way to detect if your dev version is active but i found that the way wp inits the plugins is by alphabetic order. so, it will first init ours qtranslate-s(lug) and then yours qtranslate-x. that means the variable isnt defined.

what i found weird is that it wp tries to init our plugin later on. but i'm not sure why...

any help?

i'm using  qtx 3.4.6.4.

[2015-11-22 23:05] LC43 commented on #117
alright, so we just needed ( i think!) to stop dropping our own metadata table from database. it seems wp will use the exact names and database scheme! they also add cache and other things nice, so everybody wins!

[2015-11-22 23:05] #117 closed, assigned to nobody

[2015-11-22 23:12] LC43 commented on #105
well, i think the worst didn't happen. I've had a site that needed some tags/categories to be created again. most problems could be solved by doing this. thanks @kuchenundkakao !

[2015-11-22 23:12] #105 closed, assigned to nobody

[2015-11-22 23:16] LC43 commented on #103
@johnclause how is your slug implementation? i'm planning to review the slug creating for 1.1.19.

the next version fixes categories and merges github and wp.org codes.

[2015-11-22 23:21] LC43 commented on #104
i'm planning to fix all sort of stuff related to URLs in 1.1.19.

[2015-11-22 23:22] LC43 commented on #118
@metinmete i'll need to review that plugin and hopefully integrate in the upcoming 1.1.19 version. can you post a link to that plugin?

[2015-11-23 02:00] daslicht commented on #115
You are welcome !

[2015-11-23 06:28] metinmete commented on #118
Thank you so much.
https://github.com/torounit/custom-post-type-permalinks

[2016-01-11 07:21] LC43 opened #120 "Add translatable custom url menu item"
Jason Wong, at the [wp.org support forum](https://wordpress.org/support/topic/any-translate-slug-for-custom-link-in-menu)

"I noticed this plugin doesn't support Menu's Custom Link. Will there be a next release that supports this feature soon?

Please advise. Thank you."

[2016-01-21 05:28] LC43 commented on #116
@hamstelfo are you there? can you try the new version on wp.org? thanks!

[2016-01-21 05:30] #13 closed, assigned to nobody

[2016-01-21 05:32] #108 closed, assigned to nobody

[2016-01-21 09:14] hamstelfo commented on #116
Hi Pedro,

Sorry, we finally gave up this for the moment.. Maybe we'll resume the work
in the future. Thank you anyway.

Rubén P.

2016-01-21 6:28 GMT+01:00 Pedro de Carvalho notifications@github.com:

##

..hamstelfo

[2016-01-22 01:33] LC43 commented on #116
ok! i'm closing this for now then.

[2016-01-22 01:33] #116 closed, assigned to nobody

[2016-02-11 23:24] LC43 opened #121 "Cache calls to db"

[2016-02-14 20:11] LC43 opened #122 "get ready for php7"
relevant docs:

http://php.net/manual/en/migration70.php

https://make.wordpress.org/core/2015/09/10/wordpress-and-php7/

[2016-03-03 19:24] LC43 opened #123 "subpages don't work (404)"
with the latest version ( 0b9929c2c08e9e1225d44e79a8f5bcdd129906a5 ) subpages return 404.

the immediate pages are working fine.

eg
/page-1/sub-page-2/ -> 404
/page-1/                    -> 200

doesn't matter if main language or not.

[2016-03-17 08:14] ghost commented on #123
You probably didn't update page slugs, had same issue.

[2016-03-17 15:33] LC43 commented on #123
i have to try that @ghost , i thought i redid the permalinks...

[2016-04-18 20:33] ewape commented on #90
Hi,
Can I ask how is progress on this issue? Do you have predictions on when it will be available? Would you have an advice on how to deal with updating slugs?

[2016-04-19 09:42] not-only-code commented on #90
Hi @ewape i know @LC43 is doing some changes and maintaining this project, anyway u have to know i consider **qtranslate-slug** as a _deprecated_ plugin from my part. But feel free to fork this project and implement the changes you consider necessary, we'll review your pull request.

[2016-04-19 18:13] ewape commented on #90
I see. Thank you for reply and your work on this plugin.

[2016-04-20 00:48] LC43 commented on #90
hi @ewape , @not-only-code , right now I'm a bit busy, but during May, i'll have time again. Anyway, looking forward to any contribution.

[2016-04-20 07:16] ewape commented on #90
Hi @LC43, I was wondering - would you have any thoughts on how to approach this subject that you could share? Do you think wp_update_post() method would be useful somehow? I'm looking to override existing slugs after new language version was imported from csv.

[2016-08-26 09:45] davITnemec commented on #20
Hello everybody. I have similar problem like you solved it before.

I have multilanguage blog and I need set up custom links from menu.

EN blog page -> link www.abc.co.uk and text "Visit us"
CS blog page -> link www.abc.cz and text "Navštivte nás"
SLO blog page -> link www.abc.si and text "Pogledajte nas"

I'm able to set up texts of links, but links - URL address I'm not. I tried to add @bmachue

[2016-08-26 10:02] bmachuel commented on #20
Can you please copy/paste the block of code you are using so that we can see what line 26 looks like?

[2016-08-26 11:54] davITnemec commented on #20
I used excatly the same part of code like you posted and the error is on this line:

$menu_item->url = qtrans_convertURL($menu_item->url);

[2016-08-26 12:45] bmachuel commented on #20
You did not say whether you were using qtranslate or qtranslate-x. If you are using qtranslate-x, you need to re-activate deprecated functions at the bottom of the Integration menu (Settings>Languages>Integration

[2016-08-26 13:26] davITnemec commented on #20
Thank you, I'm using qtranslate-x and after clicking on that checkbox it works. But I still can't change URL of link. When I filled normal URL, it is stay for every language. If I tried like on picture, it's gone after clicking on save. What am I doing wrong? :)

![image](https://cloud.githubusercontent.com/assets/9250148/18006759/7c006c5e-6ba1-11e6-896b-fbce5e44a1d9.png)

[2016-08-26 14:14] bmachuel commented on #20
Have you tried to use the "Language switcher" menu instead?

[2016-08-29 07:00] davITnemec commented on #20
How do you mean it? :) I'm using Language switcher for switching language of my blog and it works. Now I would like to have classic menu ITEM which has not only different label, but also different URL link inside. Does Language switcher able to do that? And if yes - how? :) Thank you

[2016-09-01 10:32] bmachuel commented on #20
Try this:

Create 3 custom URL menus (one for each of EN, CS and SL) and place them above one another.

EN: put the English URL only and leave navigation labels empty except for the English language. Same for the other 2 languages.

[2016-09-01 11:31] davITnemec commented on #20
You are THE king! Thank you a lot. It's woking now!

[2016-09-01 11:40] bmachuel commented on #20
You are welcome.
Benoît
———

David Němec a écrit:

[2016-09-17 08:03] adeacetis commented on #101
Hello,

I am a new user to Qtranslate X and have implemented it for the first time on my personal travel blog.
I'm a long time WPML user but the lack of permalink translation for CPT and Custom taxonomies and the cost made me search around a better solution.

After analyzing the localization WordPress plugin "market", I chose Qtranslate X because of its versatility and flexibility. However, I coul

[2016-11-20 06:53] maioona commented on #20
Hi  @bmachuel
You are very helpful to everyone.

Please I am trying to read and search but no luck.

I have two languages website. My menu is all custom links. I have already created two sepreate menus for each language, EN and AR.
But I can not see an option to choose one for each language I only have ONE option for the MAIN MENU. So please can you tell me hwat do u mean by this, sorry i couldnt

[2016-11-28 15:25] aoloe opened #126 "do not add a (non prefixed) two letters language code to the body css classes"
at

https://github.com/not-only-code/qtranslate-slug/blob/trunk/includes/class-qtranslate-slug.php#L572

the current language is added as a two letters language code to the body classes.

this clashes

- for the french language with the woocommerce "standard" theme _canvas_ theme (as already reported in #74)
- for the farsi language with _fontawesome_ (see https://github.com/qTranslate-Team/qtrans

[2016-11-28 15:27] aoloe commented on #122
if you're "refactoring", please consider removing the `qts_` prefix in the `QtranslateSlug` methods...

[2016-11-30 20:10] remyperona opened #127 "Wrapper function to get URL"
Hi,

I'm the lead developer of WP Rocket, a caching plugin (https://github.com/wp-media/wp-rocket)

We have customers using your plugin with qTranslate-X, and we're having one issue with our exclude pages option: it's the default slug that is added, instead of the translated slug.

For example: /cart/ and /fr/cart/ instead of /cart/ and /fr/panier/

We use the qtranxf_convertURL() to get the corre

[2016-12-06 00:02] LC43 commented on #127
Hi @Tabrisrp, sorry for the delay!

Would you want a `function qts_get_url($lang = false) {` that returns the full url based on an ID?

this qts_get_url() returns the url for the current page.

[2016-12-06 00:04] LC43 commented on #126
hi @aoloe , yes, thats a good suggestion! i have to see if it breaks other sites that could rely on this

[2016-12-19 15:33] remyperona commented on #127
Yes `qts_get_url( $id, $lang = false )` for example, that would be very good

[2017-01-04 12:09] GasparSukk opened #128 "Problem with Woocommerce"
I have problems with Woocommerce and it’s slugs – doesn’t work as it should!

1) i have shop @ www.example.com/shop
2) i set product category slug as category1
3) i set product category slug translation in qtranslate-slug as category1translation
4) it should works as www.example.com/shop/category1translation
but it searches and redirects to another content page (which has similar name).

Is this p

[2017-01-05 11:15] LC43 commented on #128
Hi @GasparSukk, thanks for asking. yes its still active! I'm building a quick update for 4.7 and i'm researching a custom lib for rewrites so its more complete.

did you saved your permalinks? on my testing wp, I couldn't repeat your error.

[2017-01-06 15:17] GasparSukk commented on #128
Thanks for reply!
Yes i did save permalinks (several times to be sure).
Something regarding permalinks brakes after plugin activation..
But let's wait for new release first. I do hope the problem resolves.

[2017-01-12 22:22] LC43 commented on #122
yes, that wasn't a good practice. thanks @aoloe

[2017-01-18 08:14] The3IC opened #129 "Breaks Woocommerce category"
Hi,

Trying to take qTranslate slug into use but finding a problem with (some) Woocommerce product category pages.

Symptoms:
- the category is not shown, but instead the category URL is redirected to the category picture

Seems to be somehow connected to naming of the category image?

WP 4.7.1, slug 1.1.18, qTranslate 3.4.6.8, Woo+qT 1.3

[2017-02-08 22:07] vlaskiz commented on #128
Hello! Bumping this up, any news regarding new version release status?

[2017-02-17 15:03] aga-parts commented on #128
Yeah what's the status on this? I can't activate QTS or all my exisiting permalinks break.

Anything that looks like `http://domain.com/parentPageA/childPage` breaks if there is one or more `http://domain.com/parentPageB/childPage` pages where the `childePage` component is an equal string across. I have hundreds of pages with this structure so the puglin is unsuable unless I go thorugh each page a

[2017-02-17 15:11] aga-parts commented on #101
Bump what's up with the direction of this project? I can't find any other URL tranlation tools for Wordpress, and I'm currently using QTranslate-X. However, QTS breaks my permalink structure completely, so it's not usable for me. Unfortunately we don't have the resources to redo the whole website internationalization after so much work with Qtranslate-X.

Any guidance will be appreciated, even if

[2017-02-17 15:19] not-only-code commented on #128
@aga-parts for a while I don't support this project, because it is based on a deprecated plugin, anyway @LC43 is maintaining the project. Feel free to fork it and make a PR if u think you can fix this.

[2017-02-28 12:06] LC43 commented on #129
Hi @The3IC , i've pushed a new branch that  should fix your structure. can you test please?

[2017-02-28 12:09] LC43 commented on #128
Hi @GasparSukk , can you test the branch wordpress.org with has initial support for woocommerce?

* woocommerce initial support:
  * product with default base ( /de/produkt/produkt-1-de/ )
  * product with shop base( or any prefix : ( /de/store/produkt-1-de/ )
  * custom prefix with product category ( /<prefix>/%product_cat% > /de/store/kategorie-1-de/produkt-de/ )
  * custom taxonomy slug and bas

[2017-02-28 12:38] LC43 commented on #123
fixed in 808247fc32fb3c276182f92b39826c872175ce4e

[2017-02-28 12:38] #123 closed, assigned to LC43

[2017-02-28 12:39] LC43 commented on #76
i believe this doesn't happen anymore. feel free to open if you have new other information

[2017-02-28 12:39] #76 closed, assigned to LC43

[2017-02-28 14:04] aga-parts opened #130 "QTS breaks my permalink structure"
I can't activate QTS or many of my exisiting permalinks break.

Anything that looks like `http://domain.com/parentPageA/childPage` breaks if there is one or more `http://domain.com/parentPageB/childPage` pages where the childePage component is an equal string across. I have hundreds of pages with this structure so the puglin is unsuable unless I go thorugh each page and Update with new slugs manua

[2017-02-28 17:29] The3IC commented on #129
Hi, yes this seems to have fixed the issue, now that I add a categroy image with the same name as the category, the category displays OK.

[2017-02-28 17:36] The3IC opened #131 "Custom taxonomies slugs clash with attachment slugs"
I discovered a new issue where the slug plugin is kind of unstable. This is also related to a Woocommerce Product categories. The category has been working fine but suddenly it started giving a 404. The only thing I needed to do was to change the slug with one character (I changed "powerboat" -> "power_boat") and then everything was back to normal.

When the error occurs the expected url/slug is s

[2017-02-28 17:37] #129 closed, assigned to nobody

[2017-02-28 17:41] The3IC commented on #120
Hi, I would second this suggestion. Currently I can work around the problem with a redirect but that means I have to set up a redirect for each URL menu item. This would be very helpful.

[2017-02-28 18:13] LC43 commented on #131
Hi @The3IC , there's a precedence between posts, pages, custom post types and then taxonomies. could it be that the slug 'powerboat' is being used other place? we try to make the slugs unique across same type and check a bunch of other query info, but in some configurations ( without the base /category/ for example, or without the woocommerce prefix ), there will be some slug collisions. Can you c

[2017-02-28 18:26] LC43 commented on #130
i assume you created these subpages before using qts right? because the plugin tries to make the slugs unique.

before fixing this, fixing #12 would have to happen first. And then, check if the path is unique before trying to make the slug unique.

It would then fill the qts fields automatically.

**Open Question**: _what you expect to happen in this scenario where the qts slugs where to be update

[2017-02-28 19:22] aga-parts commented on #130
@LC43

The two options that would make sense would be to append the language code or use titles by language.
This could be a series of options.

- Append language codes VS Use Titles (Choose one)
- Don't affect default language permalinks (Check).
  - I'm interested highly in this due to SEO.
  - If Append language codes is the chosen options, then default language wouldn't have any suffix.
  - If

[2017-02-28 20:24] The3IC commented on #131
Hi. Actually it turned out to be an image also this time, now the image name was the same slug (slug: powerboat, image title: powerboat and image filename: powerboat.png. Didn't think of testing just editing the title before I uploaded a new version of the file, now with the filename and title changed, the slug again works.

[2017-02-28 20:30] LC43 commented on #131
so it was a collision with that attachment. This is bothersome, as there's no warning from qts that this happens. I need to improve these collisions. thanks for reporting!

[2017-02-28 20:54] aga-parts commented on #130
@LC43 Is there a way for us to contact each other directly? I'd like to speak about the time-line for implementing this or guidance for me to fix it and to a Pull Request. Don't know if you, uh, do _expedited_ open source codebase maintenance. I need a fix asap.

[2017-02-28 22:24] LC43 commented on #130
i'm usually at the wordpress slash, lurking in #core as pcarvalho. do you use slack @aga-parts ?

[2017-03-03 14:11] puntonero opened #132 "error on activation"
hi,
I get error message after plugin activation.
Looking inside apache error log I found this:
` Undefined variable: max_index_length in /xxx/NetBeansProjects/xxx/wordpress/wp-content/plugins/qtranslate-slug/includes/termmeta-core.php on line 24, referer: http://xxx/wp-admin/plugins.php
`
Of course the SQL query has problem due the missing definition of **max_index_length**.
To fix it you need to

[2017-03-06 18:05] kuchenundkakao commented on #132
Which version of Wordpress are you using? The Term Meta Table should exist already if you are on an actual version of Wordpress...

[2017-03-16 13:11] Ishanjn opened #133 "404 errors problem with multilangual permalink pages"
I am suffering an unexpected issue with “Plugin: Qtranslate Slug”; Some of my pages will automatically redirected to 404 error page. I tried a lot of this in slug but the issue is not resolved. This error mostly occurred on child pages.

In terms of solving the problem I need to remove database field value which holding slug value. After remove column values page working fine.

Can anyone please h

[2017-03-16 22:54] LC43 commented on #133
Hi @Ishanjn , did you see my reply o wordpress.org?

could you try first my suggestion?  thanks

[2017-03-17 11:28] Ishanjn commented on #133
Yes, its work after build parent page qts-slug and then rebuild child page qts-slug.
Thank you very much.

[2017-03-21 14:58] aga-parts opened #134 "meta hreflang tags functionality behind qtX"
An issue with `meta` ` hreflang` tags (for SEO purposes) was fixed in q-translateX version 3.3.3, but not in QTS:

[2017-03-21 23:22] vlaskiz opened #135 "Newest release messed up woocommerce and home page slugs"
Hello,

Tried the newest update released a day ago and it seems that WooCommerce categories are being redirected to attachment pages. For example:
http://sitename.info/pl/pl/kategoria-produktu/accesories/

instead of being redirected to WooCommerce category page it just opens attachment page which shows the images (named accesories.jpg) and blog sidebar.

When going to categories which are not nam

[2017-03-22 19:32] LC43 commented on #134
thanks for the report @aga-parts !

closed in recent fix : c35391bb70fc65f5634425d43e220ea48402dc8b

[2017-03-22 19:32] #134 closed, assigned to nobody

[2017-03-22 19:42] LC43 commented on #135
Hi @vlaskiz , thanks for using qts and reporting back!
On our tests integration with woocommerce is getting better but some issues are prone to happen.

To fix the first you must change the attachment slug, because its colliding with the category.
but I can't reproduce that second error. Tested with latest wp, qts and qtx.

did you saved your permalinks?

Are you using any utf8 on the "kategoria-p

[2017-03-22 19:44] LC43 commented on #132
fixed the missing variable and improved detection of older WP  on 22e55f18e8ae3d530279fe75588e1d18f9b17aac

thanks everyone!

ps: re-open if it didn't fix this issue

[2017-03-22 19:44] #132 closed, assigned to nobody

[2017-03-22 20:00] vlaskiz commented on #135
Hello,
I did save permalinks to ensure permalink rules are flushed.

"kategoria-produktu" is set for polish language to replace "product-category" (which is used for English) via "Options->Slug options" menu. It is a copy paste of slug, there's no special symbols used.

---------------------
For some reason, certain pages and homepage is also redirecting to "http://sitename.info/pl/pl/products/pli

[2017-03-22 20:22] LC43 commented on #135
Hi again,
that's weird. Yes, if you have slack, i'm on the wordpress.slack.com as "@pcarvalho" or you can email me directly at p@43.lc

as for the new autobuilder, your user needs to have "manage_options" capability to access that.

can you confirm that?

[2017-03-22 20:25] vlaskiz commented on #135
My account is only one with full Administrator rights so the answer is yes.

I will gather credentials and will email them to you.

[2017-03-22 20:42] vlaskiz commented on #135
To clarify, I am able to use autobuilder if I manually navigate to it via Tools menu. If I use link to go from Slug->Options to QTS Rebuild Slug, then I receive the error.

I have sent you the email with credentials and additional information in it as well. Thanks for effort so far.

[2017-04-01 07:19] Ishanjn opened #136 "Custom RSS feed for custom post type not working with qtranslate-slug plugin"
There is some issue with custom rss feed after installing "qtranslate-slug" plugin. I customised rss feed url to include my custom post type. I added custom post type into standard feed URL ex. `http://www.example.com/feed/?post_type=custom_post_type` and in `function.php` apply a hook to handled custom template for rss feed like below -

add_action('do_feed_rss2', 'custom_feed_rss2', 10, 1);
func

[2017-04-02 19:56] The3IC opened #137 "QTS hreflang rewrite causes error for main page"
My site was not being picked up for multilingual setup so I have now been researching a bit and it seems that QTS is part of the problems.

If I have QTS disable, the href settings are:
`<link` hreflang="fi" href="https://dokkcopy.demo.site/fi/" rel="alternate" />
`<link` hreflang="en" href="https://dokkcopy.demo.site/en/" rel="alternate" />
`<link` hreflang="x-default" href="https://dokkcopy.demo

[2017-04-02 20:43] The3IC opened #138 "Woocommerce shop slug not picked up"
The WC shop has QTS slugs set to "kauppa" for Finnish and "shop" for english. The hreflang tags are correct but All In 1 SEO and other plugins pick up the wrong slug and will show site.com/en/kauppa/ instead of the correct site.com/en/shop. Showing the wrong canonical breaks hreflang which is the most pressing problem.

Is this something that is controlled by QTS?
Note: this is a duplicate of issu

[2017-04-03 12:28] The3IC opened #139 "Suggestion: Bundle QT with QTS?"
As I edited QTS to fix the one trailing slash issue, I noticed how QTS replaces large parts of QT with QTS specific code. So suggestion: Why don't you guys create a new QT + QTS plugin by branching QT and bundling it with QT? The market is kind of ripe now that QT support is essentially gone and the QT folks did not make good on their promise to release a commercial version. If you did a commercia

[2017-04-03 13:28] The3IC opened #140 "Minor edit"
Suggestions: remove action qtranxf_wp_head_meta_generator() to remove generator meta (which essentially is incorrect when QTS is used). I then added the meta to the qts class:
`echo "\n" . '<meta name="generator" content="qTranslate Slug 1.1.9" />'."\n";`

[2017-04-03 13:51] LC43 commented on #140
Hi @The3IC , thanks for the suggestion! i'll add it to the next version. enjoy :)

[2017-04-03 13:52] LC43 commented on #137
Hi @The3IC , thanks for the report. I've made few changes to the hreflang on the latest branch. I'll look into this as well.

[2017-04-03 14:14] The3IC commented on #140
ps: note the preceding linefeed, at least on my site, some other plugins mishave and do not end in lf :-)

[2017-04-16 17:53] fesarlis opened #141 "Plugin causes issues to WC single product permalink"
Although it seems to me the whole QtranslateX family (main plugin and integrations) is abandoned (so I am not sure I will get a response on this - or in best case after a long time), this looks like a great plugin. It works as expected most of the time. I have noticed just one issue.

If I set the permalink for products like this:

/shop/%product_cat%

The latter variable (product_cat) is not subs

[2017-05-25 11:56] BuulDutch commented on #20
Hi @bmachuel,

Thank you for your solution. However when implementing code on the theme's functions.php file all menu's stopped working. Removed code from functions.php file and now the following appeared:
Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'qtranslate_menu_item' not found or invalid function name in /customers/8/f/8/campingkreekebos.nl/httpd.www/w

[2017-05-30 11:33] michelmelo opened #142 "404 errors and problem with child pages"
Hi,
i’ve a big problem with Qtranlate Slug.

I have 3 distinct pages :

mysite.com/pagina/
mysite.com/pagina/pagina/
mysite.com/pagina/pagina-2/

[2017-07-04 14:01] jannekeenzo commented on #20
Hello @bmachuel,

I read you helped a lot of people, that's so good to see! Unfortunately the solutions mentioned don't seem to work for me.

I have a bilingual site (NL-ENG). With Full Page sections (vertical scroll), with anchors in it instead of Row ID's (via plugin FullPage for Visual Composer).
In the Menu, I therefore have set custom URL's, but they cannot be saved for each language.

I copy

[2017-07-04 14:31] bmachuel commented on #20
Hi there,

I am not sure what exactly you want to achieve.

I visited your website and the only thing that does not seem to work is that when you select the alternative language, it takes you back to the top of the page instead of the anchor you were in. Is that the problem you want to solve?

[2017-07-04 14:41] jannekeenzo commented on #20
Hi!

Sorry I wasn't very clear indeed.

The English menu doesn't work, only the pages that have exactly the same name in Dutch work (Contact, Partners).

But other pages like _Prices_ or _About me_ don't jump to the page because their exact URL cannot be saved in the Menu.

The problem you mentioned (switching language and then moving to the top instead of the anchor in the other language) would b

[2017-07-04 15:14] bmachuel commented on #20
There should be a solution to your problem in this thread, but if you need a quick solution without any additional coding, you can use the following plugin:
Menu Item Visibility Control

It adds a "visibility" field to each menu item, whereby you can toggle visibility based on a condition of your choosing, including the active language. Just duplicate all menu items that do not currently work and

[2017-07-04 15:49] jannekeenzo commented on #20
Hello,

Thanks a lot, in the meantime, i was trying another time to understand your 2nd solution, which i figured out now (& which works!!): Make a menu for your first language including navigation labels; remove all navigation labels in the other language tab. And then add a home and following pages for the second language including navigation labels; remove the navigation label in the first lang

[2017-07-04 16:07] bmachuel commented on #20
Great! Happy you managed to make it work.
Best wishes,
Benoît

[2017-07-05 18:32] marcolettieri commented on #133
@lc43 you have finished the work on?

[2017-07-19 15:01] HowToSnippets opened #143 "The qTranslate-Slug overrides the qTranslate-X hreflang generated code"
I wanted for `hreflang` to use language code that is stored inside "**Locale at front-end**" field located inside individual Language qTranslate-X Settings page, but couldn't make it to work.

It turns out this is due to the qtranslate-slug removing the ''_wp_head_'' action of qTranslate-X and replacing it with it's own which is ignoring the "**Locale at front-end**" field. I think this is due to

[2017-09-05 19:18] fedenuche commented on #20
Hi, thanks in advance for your help.

This is my site (http://depraiabrasil.com), if you go to the menu (located on the top left) you can see that the last item is "Reservation". That is a custom link with a external link. On the home page it is working as expected but if you go to other page (exaple: http://depraiabrasil.com/en/kitesurf/) you will see that the link has my site URL before. So inst

[2017-09-06 10:09] bmachuel commented on #20
@fedenuche

Have you tried to put the code below in your function.php file?

[code]

Benoît

[2017-09-06 19:53] fedenuche commented on #20
Yes, I tried but it didn't work.

[2017-11-03 12:03] acicovic opened #144 "qTranslate Slug breaks for non-latin languages in WordPress 4.8.3"
More info (and a fix) here:

https://wordpress.org/support/topic/not-working-with-non-latin-languages-on-4-8-3/

Is this project alive? Is there will to fix this?

[2017-11-03 19:12] LC43 commented on #144
hi, yep still alive, but accept any help.

i've read the support topic, need to run some tests and will release it soon.

[2017-11-04 06:05] acicovic commented on #144
Hi LC43,

Thank you for your feedback.

[2017-11-22 13:17] katerlouis opened #145 "Hook to auto-Generate slugs?"
Wordpress natively formats titles into slugs–
Is there a way to do the same, when the title of language gets updated?

I can't find a Hook for this–

[2017-12-02 14:55] bisemanu opened #146 "Plugin seem to getting the wrong link for paging"
Hello,
If from the second page shop “…./it/shop/page/2/” i try to switch to English, or the other way around, the URL becomes “…./en/?post_type=product&p=2645”, instead it should be “…./en/shop/page/2/”. This problem occurs only on the second-level pages. How can I proceed to try to correct this problem.
![cattura2](https://user-images.githubusercontent.com/13311079/33516803-23c91aa0-d779-11e7-9af

[2017-12-14 09:46] webplease commented on #133
same problem here, only with RU (cyrillic) language ... have u solved?

[2018-01-25 03:39] koen84 opened #147 "Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP"
I get the following warning when DEBUG true :

Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; QtranslateSlugWidget has a deprecated constructor in /www/ksr_www/public_html/wp-content/plugins/qtranslate-slug/includes/class-qtranslate-slug-widget.php on line 8

[2018-04-17 18:06] aballea commented on #147
I ve got the same. Is it a real problem ? I ll ignore it and see if it works.

[2018-05-03 01:24] caochitam opened #148 "Report a problem with portfolio: can not show portfolio when active qtranslate-slug"
I have a problem with my wordpress site when active qtranslate-slug: Portfolio not work normaly, it show a archive page where have all post
Here is before active qtranslate-slug
![image](https://user-images.githubusercontent.com/5225981/39556476-b9576c2c-4eaa-11e8-8c08-d78ba08ae5ce.png)
Here is after active qtranslate-slug
![image](https://user-images.githubusercontent.com/5225981/39556552-5858b89

[2018-08-31 07:39] duman opened #149 "Using the same slug for different pages"
I have two pages which have the same slug but for different parents.

What I want to do is using the same slug like the above example but it causes duplicate content. How can I achieve this?

There's a post like this: https://kuchenundkakao.wordpress.com/2015/07/15/qtranslate-slug-same-slugs-in-different-hierarchy-on-pages-hierarchical-post-types/ but I'd like a built-in solution for this in the p

[2018-09-22 18:32] netyco commented on #133
i have the samme problem, please help :(

[2018-09-22 18:53] netyco opened #150 "Error 404,"
Hi,

i have one error in qtranslate:

this is my site:
https://www.netyco.com/ar/ <<-- this work OK

But in this URL q translate don't work
https://www.netyco.com/ar/transmitir-radio-online-con-butt-manual-de-configuracion/

when i edit this post, in my permalink says this: https://www.netyco.com/in/?p=961

if i disable qtranslate slug, is possible enter to: https://www.netyco.com/ar/transmitir-ra

[2018-10-10 12:07] kuchenundkakao commented on #149
Sorry, but it seems as if Carlos isn't that active anymore. Can understand it, as the Plugin this was written for originally (qtranslate) as well as the plugins it also supported (mqtranslate, qtranslateX) are not developed or fixed anymore and will stop working/have already stopped working with actual versions of Wordpress. As i wrote the referenced post, i can tell that it should work. Sorry, bu

[2018-10-10 13:16] duman commented on #149
Thank you for helping.

[2018-10-10 13:16] #149 closed, assigned to nobody

[2018-10-17 14:14] mayaliny commented on #147
I've just changed line in my install from
`function QtranslateSlugWidget() {`
to:
`function __construct() {`

which is compatible with php7+ seems to me that there are no issues..

[2019-01-28 01:44] rg- opened #152 "Duplicate content issue"
Hi, i don´t know if somebody notice this, but, ex:

en/some-page/
es/alguna-pagina/

Those will be normal translated page slugs for EN and ES langs, that´s ok. The problem arrives when you type this url:

es/some-page/
Shows the same page es/alguna-pagina/
That´s considered by google as duplicate content.

So, the fix for this i could find is something like this:

`add_action('init', 'app_output_b

[2019-01-29 07:48] kuchenundkakao commented on #152
Hey,
Duplicate content should not be a problem as even when you get the page with the url es/some-page, the canonical tag that is written in the <head> will be es/alguna-pagina.

With the canonical tag, google is told "Hey, disregard the URL, this pages prime URL is this".

So you can remove your filter again. You won't get problems in your google Ranking

[2019-01-30 04:22] rg- commented on #152
mmm, yes i understand... anyway i had troubles with that filter in some conditions/cases, too many redirects, you know :)
But, know i´m thinking.. what happens with sitemap.xml in this cases? Google will not take that as duplicate content if in the sitemap there are two urls with same exact content? You know what i mean?

[2019-01-30 04:26] rg- commented on #152
Forget about that, i´m using all-in-one-seo-pack with sitemap addon and seems to work ok, no duplicate urls on sitemap :)

Great!

[2019-01-30 07:22] #152 closed, assigned to nobody

[2019-06-07 15:10] #142 closed, assigned to nobody

[2020-10-16 15:08] JuanDaniel opened #153 "Base permastructs slug dont'n work"
Hi there,

I have installed the QTranslate-XT (3.8.1) the latest, and yours plugin work fine except for the base permastructs slug.

I tryed to make some tests but and don't find the problem.

Do you have any idea ?

Thanks in advance.

[2022-02-19 11:15] andreysneg opened #155 "If developer no longer deals with the plugin please help combine plugin with qtranslate xt."
If developer no longer deals with the plugin please help combine plugin with qtranslate xt.

Discussion here:
https://github.com/qtranslate/qtranslate-xt/discussions/1106